.slick-slider{
  margin-left: 25px;
  margin-right: 25px;
}
.slick-slide{
  padding: 2px;
  img{
    width: 100%;
  }
}
.slick-prev{
  &:hover{
    cursor:pointer;
  }
  &:before{
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/left-arrow-gallerynew.png) no-repeat center center;
  }
}
.slick-next{
  &:hover{
    cursor:pointer;
  }
  &:before{
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/right-arrow-gallerynew.png) no-repeat center center;
  }
}
