.car-image{
  margin: 45px 0;
}
.colors{
  margin-bottom: 20px;
  p{
    font-weight: 400;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0
  }
  a{
    width: 22px;
    height: 22px;
    border-radius: 22px;
    text-indent: -9999px;
    font-size: 0;
    padding: 0;
  }
}
.btn-border{
  padding: 9px 18px 9px 18px;
  border: 1px solid #711c30;
}
h2{
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 20px;
}
p{
  font-size: 14px;
  font-weight: 400;
}
.bg-gray{
  h2{
    margin-bottom: 20px;
    margin-top: 0
  }
}
