.specifications{
h2{
  margin-bottom: 10px;
}
  .version_list {
    margin: 10px 0 0;
    border: solid rgba(0, 0, 0, .2);
    border-width: 1px 0;
    padding: 15px 20px 0 0;
    .version_item {
      margin: 0 0 15px 20px;
      display: inline-block;
      vertical-align: middle;
      label {
        cursor: pointer;
        margin: 0;
        padding: 0;
      }
      input {
        display: none;
      }
      i {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        border: 1px solid #bcbcbc;
        border-radius: 5px;
        background: linear-gradient(#fdfdfd, #e4e4e4);
        background: -webkit-linear-gradient(#fdfdfd, #e4e4e4);
        background: -moz-linear-gradient(#fdfdfd, #e4e4e4);
        background: -ms-linear-gradient(#fdfdfd, #e4e4e4);
        background: -o-linear-gradient(#fdfdfd, #e4e4e4);
        &::before {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          margin: 2px;
          border-radius: 3px;
          background: #666;
          transition: .3s;
          opacity: 0;
        }
      }
      span {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 10px;
        font-size: 13px;
        color: #333;
        font-weight: 400;
      }
      :checked + i::before {
        opacity: 1;
      }
    }
  }
  .feature_list {
    margin: 35px 0 0;
    width: 100%;
    > .title .feature_title .title_item {
      min-height: 14px;
      margin: 0 0 30px;
      text-align: center;
      font-size: 14px;
      color: #85131d;
      font-weight: 400;
      &:first-of-type {
        margin: 0 0 30px 20%;
      }
    }
    .feature {
      height: 27px;
    }
    > * ul {
      // border-top: 1px solid #ddd;
      margin: 0;
      padding: 0;
      text-align: left;
      &:first-of-type {
        border-top: 0px;
      }
      li {
        width: 25%;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .feature_item {
      .feature_value {
        .value_item {
          font-size: 14px;
          color: #333;
          text-align: center;
          font-weight: 400;
          height: auto;
          line-height: 34px;
          &.title {
            text-align: left;
            color: #85131d;
            font-weight: 400;
            text-transform: uppercase;
            width: 20%;
            margin-bottom: 0 !important;
            padding: 10px 0;
          }
        }
      }
    }
  }
  .models-open-mobile,
  .feature-list-mobile {
    display: none;
  }
  .feature-list-mobile {
    li {
      border-bottom: 1px solid #ccc;
      height: auto;
      list-style-type: none;
      padding: 10px 0 10px 0;
      text-align: center;
      strong {
        text-transform: uppercase;
      }
    }
    .model-name {
      line-height: 50px;
    }
  }
  @media(max-width: $screen-lg){
    .feature_list, .models-open{
        display: none;
    }
  .feature-list-mobile,
  .models-open-mobile {
    display: block;
  }
  .feature-list-mobile li {
    height: 60px;
  }
  .feature-list-mobile .model-name strong {
    font-size: 23px;
  }
}
}

