.contact-bar {
  margin-bottom: 40px;
  .container{
    > div{
      display: inline-block;
    }
      @media(min-width: 320px){
      > div{
        width: 100%;
      }
    }
    @media(min-width: $screen-sm-min){
      > div{
        width: 49%;
      }
    }
    @media(min-width: $screen-lg-min){
      .col-phones{
        width: 165px !important;
        margin-right: 100px;
      }
      .col-time{
        width: 290px !important;
        margin-right: 40px;
      }
      .col-location{
        width: 268px !important;
      }
    }
  }
  border:1px solid #dbdbdb;
  border-left: none;
  border-right: none;
  padding: 10px 0;
  a{
    display: inline-block;
    padding: 10px 0
  }
  .contact-img{
    display: inline-block;
    width: 35px;
    height: 35px;
    img{
      vertical-align: bottom;
    }
  }
  .contact-text{
    display: inline-block;
    color: #711c30;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 18px;
    height: 35px;
    span{
      > strong{
        font-size: 16px;
        color: #252525;
        font-weight: 700;
        display: block;
        margin-left: 0
      }
    }
    strong{
      font-size: 13px;
      color: #252525;
      margin-left: 2px;
      display: block
    }
  }
}
