footer {
  margin-top: 90px;
  .newsletter {
    background-color: #e9e9e9;
    padding: 30px 0;
    .form-group,
    [type=submit] {
      margin: 5px 0;
    }
    .form-control {
      width: 100%;
    }
  }
  .footer-bg {
    background-color: #242021;
    min-height: 455px;
    padding-top: 45px;
    .site-map {
      .list-inline {
        margin-left: 15px;
        float: left;
        li {
          padding-left: 0;
          margin-right: 30px;
          padding-right: 0;
          @media(max-width: $screen-sm-max) {
            width: 100%;
            float: left;
          }
          a {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            height: 42px;
            display: block;
            padding: 12px 0;
          }
        }
      }
      .social {
        margin-right: 0;
        float: right;
        padding-right: 0;
        @media(max-width: $screen-sm-max) {
          float: none;
          width: 115px;
          margin: auto;
        }
        li {
          float: left;
          list-style: none;
          a {
            display: inline-block;
            border: 1px solid #FFF;
            padding: 13px 17px;
            font-size: 11px;
            font-weight: 700;
            color: #FFF;
            height: 44px;
            vertical-align: middle;
            text-transform: uppercase;
            &.fb {
              &::before {
                display: block;
                content: '';
                background: url('../images/facebook.png') no-repeat;
                width: 9px;
                height: 16px;
              }
            }
          }
        }
      }
    }
    .new-cars-bottom {
      .cat-title-footer {
        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 300;
      }
      ul {
        margin-bottom: 0;
        li {
          margin-bottom: 5px;
          a {
            font-size: 11px;
            color: #ffffff;
            font-weight: 700;
          }
        }
      }
    }

    @media(max-width: $screen-sm-max){
      .new-cars-bottom{
        display: none;
      }

    }
    .copyright {
      margin-top: 50px;
      .text-right a {
        display: block;
        padding: 20px 0;
      }
    }
    @media(max-width: $screen-sm-max){
      .copyright{
        text-align: center;
        .text-right{
          text-align: center;
        }
      }
    }
  }
}
