textarea {
  min-height: 80px;
}
.highlight-form {
  background: #242021;
  color: #FFF;
  padding: 25px;
  margin-top: -1px;
  .form-group{
    margin-bottom: 9px;
    input, select, textarea{
      font-size: 11px;
    }
    textarea{
      resize: none;
    }
    select{
      padding: 6px 8px;
    }
  }
  button[type=submit]{
    background-color: #fdb515;
    color: #242021;
    text-transform: uppercase;
    color: #242021;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    height: 39px;
    border: none;
  }
  h2{
    margin-top: 0;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
    line-height: 17.01px;
      strong{
        font-size: 24px;
        font-weight: 900;
        line-height: 24.003px;
        }
  }
}
@media(max-width: $screen-sm-max){
  .highlight-form{
    margin-left: -15px;
    margin-right: -15px;
  }
}

.form-header {
  text-transform: uppercase;
}

.dealers-form {
  background-color: $brand-secondary;
}
