.highlights {
  a {
    position: relative;
    padding: 15px 30px;
    display: block;
    width: 369px;
    height: 300px;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      text-decoration: none;
      color: #FFF;
    }
    @media(max-width: $screen-sm-max) {
      float: none;
      margin: auto;
      margin-bottom: 10px;
      width: 100%;
      background-size: cover;
    }
    @media(min-width: $screen-md-min) {
      width: 32%;
      float: left;
      &:nth-child(2n+2) {
        margin: 0 2%;
      }
    }
    p {
      line-height: 20px;
      font-size: 13px;
      max-width: 223px;
    }
    h3 {
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      strong {
        display: block;
        font-weight: 900;
        font-size: 20px;
      }
      &::after {
        content: '';
        display: block;
        width: 67px;
        height: 4px;
        background-color: #ffffff;
        margin: 20px 0;
      }
    }
    button {
      background-color: #c5394c;
      border: none;
      font-weight: 700;
      padding: 7px 25px;
      border-radius: 5px;
      position: absolute;
      bottom: 30px;
    }
  }
}
.highlight-single{
  a {
    position: relative;
    padding: 20px;
    display: block;
    width: 100%;
    height: 194px;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &:hover {
      text-decoration: none;
      color: #FFF;
    }
    h3 {
      margin-top: 0;
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      strong {
        display: block;
        font-weight: 900;
        font-size: 20px;
      }
      &::after {
        content: '';
        display: block;
        width: 67px;
        height: 4px;
        background-color: #ffffff;
        margin: 20px 0;
      }
    }
    button {
      background-color: #c5394c;
      border: none;
      font-weight: 700;
      padding: 7px 25px;
      border-radius: 5px;
      position: absolute;
      bottom: 30px;
    }
  }
}
