$secondaryBar: #441420;
.topbar {
  background: $secondaryBar;
  height: 52px;
  .social {
    padding: 16px 0;
    float: right;
    a {
      display: inline-block;
      padding: 0 9px;
      font-size: 11px;
      font-weight: 700;
      color: #FFF;
      vertical-align: middle;
      text-transform: uppercase;
      &.fb {
        &::before {
          display: block;
          content: '';
          background: url(../images/facebook.png) no-repeat;
          width: 9px;
          height: 16px;
        }
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  .buttons {
    float: right;
    padding: 8px 0;
    a {
      color: #FFF;
      font-size: 1em;
      display: inline-block;
      background: #C5394C;
      padding: 9px 0;
      width: 161px;
      text-align: center;
      border-radius: 25px;
      margin: 0 5px;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.navbar-nav li {
  #newCarsDrop {
    background: #EEE;
    border-radius: 0;
    padding: 20px 0;
    #carsTab {
      border: none;
      margin-bottom: 50px;
      li {
        a {
          color: #848484;
          font-family: 'Lato';
          font-size: 12px;
          font-weight: 900;
          border-color: #DEDEDE;
          border-radius: 0;
          background-color: #F3F3F3;
          width: 100%;
          text-align: center;
          margin: 0;
          padding: 14px 0;
          width: 127px;
          border-bottom-width: 1px;
        }
        &.active a,
        &:hover.active a:hover,
        & a:active,
        & a:visited,
        & a:focus,
        &:hover a{
          color: #848484;
          background-color: #E0E0E0;
        }
      }
    }
    #carsTabContent{
      a{
        margin-left: 0;
        margin-right: 0
      }
      .car-drop{
        display: block;
        float: left;
        width: 100%;
        .car-desc{
          h3{
            color: #494949;
            font-size: 17px;
            text-transform: uppercase;
            font-weight: 700
          }
          .btn-group{
            color: #FFF;
            .btn-newCar{
              background-color: #711c30;
              font-size: 0.79em;
              font-weight: 400;
              text-transform: uppercase;
              width: 70px;
              padding: 6px;
              &:hover{
                color: inherit;
              }
            }
            .btn-newCar2 {
              background-color: #343434;
              font-size: 0.79em;
              width: 30px;
              padding: 6px;
              &:hover{
                color: inherit;
              }
            }
          }
        }
      }
    }
  }
  > a {
      font-size: 1em;
      font-weight: 700;
      text-transform: uppercase;
      border-bottom: 4px solid transparent;
      &:hover,
      &:focus {
        color: #FFF;
        border-color: #FFF;
      }
    }
}
.cat-title {
	width: 100%;
  display: block;
  color: #848484;
  background: #F3F3F3;
  border: 1px solid #DEDEDE;
  font-family: 'Lato' sans-serif;
  font-weight: 900;
  padding: 14px 0;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;


}
.bottombar{
  background: $secondaryBar;
  padding: 8px 0;
  .buttons{
    display: block;
    a{
      color: #FFF;
      font-size: 0.75em;
      background: #C5394C;
      padding: 9px 0;
      min-width: 105px;
      width: 25%;
      display: block;
      text-align: center;
      border-radius: 25px;
      float: left;
      &:first-child{
        margin-right: 5px;
      }
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
  .social{
    display: block;
    height: 34px;
    padding: 5px 0;
    float: left;
    a {
      padding: 0 9px;
      font-size: 11px;
      font-weight: 700;
      color: #FFF;
      display: inline-block;
      vertical-align: middle;
      text-transform: uppercase;
      &.fb {
        &::before {
          display: block;
          content: '';
          background: url(../images/facebook.png) no-repeat;
          width: 9px;
          height: 16px;
        }
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  .navbar-header {
    min-width: 262px;
  }
}
