.pagination{
  float: right;
  > li{
    > a{
      border: none;
      color: #000000;
      font-weight: 600;
      text-transform: uppercase;
      padding: 5px !important;
      margin: 0 3px;
      &:hover{
        color: #ffffff;
        background-color: #c5394c;
        border-radius: 5px;
      }
    }
    > span{

    }
  }
  > .active{
    a, a:hover{
      color: #ffffff;
        background-color: #c5394c;
        border-radius: 5px;
    }
  }
}
