body {
  @include font-smoothing;
  padding: 0;
  font-family: 'Open Sans', 'Lato', sans-serif;
  font-size: 1.25em;
  @media (max-width: $screen-sm-max) {
    font-size: 1.5em;
  }
}

h1 {
  font-size: 2.15em;
}

h2 {
  font-size: 1.9em;
  font-family: 'Lato';
  font-weight: 900;
}

h2.context {
  margin-top: 0;
  font-weight: 400;
  font-size: 20px;
  span {
    font-weight: 900;
  }
  @media(min-width: $screen-md-min) {
    span {
      display: block;
      font-size: 24px;
    }
  }
  @media(max-width: $screen-sm-max) {
    span {
      margin-left: 5px;
    }
  }
}

h3 {
  font-size: 1.25em;
}

h4,
h5,
h6 {
  font-size: 1em;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

section {
  margin-bottom: 0;
  &.used-cars {
    margin-top: 40px;
  }
}

.title {
  margin-bottom: 20px;
  width: 100%;
  display: table;
  h2 {
    margin: 0;
    display: table-cell
  }
  a {
    float: right;
    color: #ff313c;
    text-decoration: underline;
    font-weight: 700;
    display: table-cell
  }
}

small {
  font-size: 0.75em;
}

.about-us {
  margin-top: 40px;
  p {
    font-size: 13px;
    color: #676767;
    font-weight: 400;
    line-height: 20px;
  }
}

.form-control {
  border: none;
  height: 39px;
  font-size: 11px;
  color: #848484;
  font-weight: 700;
  box-shadow: none;
}

[type=submit] {
  background-color: #c5394c;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  height: 39px;
  border: none
}
.mg-tp-30{
  margin-top: 30px;
}
.bg-gray{
  background-color: #e9e9e9;
  padding: 20px 0 40px 0;
  margin: 20px 0;
}
.control-border{
  font-size: 12px;
  color: #000;
  background: transparent;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 5px;
}
label[for='order']{
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  margin-right: 5px 10px;
}
.list-bullet{
  list-style: disc;
  padding-left: 15px;
}
.internas{
  .banner-top{
    margin-bottom: 30px;
  }
  h1{
    font-size: 32px;
    font-weight: 400;
    color: #333333;
    font-style: italic;
  }
  h2{
    font-size: 14px;
    font-weight: 700;
    color: #333333;
  }
  p{
    font-size: 14px;
    color: #333333;
  }
  .form-control{
    border: 1px solid #e6e6e6;
    margin-bottom: 10px;
  }
  #accordion-vendas{
    .panel-default{
      border: none;
      .panel-heading{
        background-color: #b3b3b3;
        color: #FFF;
        h4{
          font-size: 12px;
          font-weight: 700;
          a:hover, a:active, a:focus{
            text-decoration: none;
          }
        }
      }
      .panel-body{
        background-color: #e5e5e5;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}
