.used-block {
  margin-bottom: 20px;
  overflow: hidden;
  .used-img {
    float: left;
    z-index: 2;
    img {
      width: 100%;
    }
  }
  .used-desc {
    float: left;
    border: 1px solid #dbdbdb;
    border-right: #ff313c 4px solid;
    position: relative;
    z-index: 1;
    .used-year {
      font-size: 11px;
      color: #848484;
      font-weight: 400;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 0;
      color: #ff313c;
      font-weight: 700;
      font-size: 19px;
    }
    ul {
      li {
        float: left;
        margin-right: 30px;
        &::before {
          content: '•';
          margin-right: 15px;
        }
        span {
          color: #848484;
          font-weight: 400;
          text-transform: uppercase;
        }
      }
    }
    .used-price-button {
      display: inline-block;
      .used-price {
        font-weight: 700;
        font-size: 19px;
        vertical-align: bottom;
      }
      button {
        background-color: #c5394c;
        width: 100px;
        height: 32px;
        text-align: center;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        font-weight: 700;
        margin-left: 30px;
        margin-top: 15px;
      }
    }
  }
  @media(max-width: $screen-xs-max) {
    .used-img {
      padding-left: 0;
      padding-right: 0
    }
    .used-desc {
      padding: 5px;
    }
  }
  @media(min-width: $screen-sm-min) {
    .used-desc {
      padding: 13px 15px;
      border-left: none;
    }
    .used-img img {
      position: absolute;
      left: 0;
    }
  }
  @media(min-width: $screen-md-min) {
    .used-desc {
      padding: 20px 30px;
    }
  }
}

.sidebar-form {
  background-color: #e9e9e9;
  padding: 30px;
  label {
    color: #848484;
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-control {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  select {
    background: #FFF url(../images/drop-arrow.png) no-repeat right 10px center;
  }
}

.form-filter {
  background: linear-gradient(0deg, #4F4F4F 0%, #696969 100%);
  .form-header {
    background: linear-gradient(0deg, #4F4F4F 0%, #696969 100%);
    color: #ffffff;
    padding: 18px 24px;
    h2 {
      margin: 0;
      font-size: 24px;
      text-transform: capitalize
    }
  }
  form {
    fieldset {
      padding: 20px;
      border-bottom: 1px solid #FFF;
    }
    legend {
      font-size: 16px;
      color: #ffffff;
      font-weight: 400;
      float: left;
    }
    label {
      color: #FFF;
    }
    .checkbox {
      margin: 0
    }
  }
}

.result-h3 {
  font-style: italic;
  font-size: 24px;
  margin-top: 0;
  font-weight: 600;
  color: #333333;
  margin-bottom: 0;
}

.search-results {
  font-size: 14px;
  color: #666666;
  font-weight: 400;
  margin-bottom: 20px;
}

.used-carousel {
  .slick-slide {
    padding: 2px;
    img {
      width: 100%;
    }
  }
  .slick-prev {
    left: 0;
    z-index: 1;
    background: #FFF;
    height: 100%;
    &:hover {
      cursor: pointer;
    }
    &:before {
      content: '';
      display: block;
      width: 9px;
      height: 15px;
      background: url(../images/left-arrow-galleryused.png) no-repeat center center;
    }
  }
  .slick-next {
    right: -1px;
    z-index: 1;
    background: #FFF;
    height: 100%;
    &:hover {
      cursor: pointer;
    }
    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 15px;
      background: url(../images/right-arrow-galleryused.png) no-repeat center center;
    }
  }
}

.used-detailed {
  h2 {
    color: #ff313c;
    font-weight: 700;
    font-size: 19px;
    margin-top: 0
  }
  .price {
    background-color: #c5394c;
    display: block;
    padding: 15px;
    color: #ffffff;
    text-align: right;
    span {
      font-size: 12px;
      text-transform: uppercase;
      display: block;
      float: left;
      padding: 5px 0;
    }
    strong {
      font-weight: 700;
      font-size: 19px;
    }
  }
  .details {
    margin-top: 20px;
    > div {
      display: block;
      width: 100%;
      height: 51px;
      border-bottom: 1px solid #e8e8e8;
      padding: 17px 0 17px 35px;
      position: relative;
      &.year:before {
        content: '';
        position: absolute;
        left: 0;
        background: url(../images/calendar-ico.png) no-repeat left center;
        width: 22px;
        height: 23px;
      }
      &.odometer:before {
        content: '';
        position: absolute;
        left: 0;
        background: url(../images/odometer-ico.png) no-repeat left center;
        width: 25px;
        height: 21px;
      }
      &.transmission:before {
        content: '';
        position: absolute;
        left: 0;
        background: url(../images/transmission-ico.png) no-repeat left center;
        width: 22px;
        height: 17px;
      }
      &.fuel:before {
        content: '';
        position: absolute;
        left: 0;
        background: url(../images/fuel-ico.png) no-repeat left center;
        width: 16px;
        height: 19px;
      }
      .key {
        font-weight: 700;
        color: #484848;
        float: left;
      }
      .value {
        float: right;
      }
    }
  }
  .buttons {
    margin-top: 50px;
    text-align: center;
    .btn {
      margin: auto;
      width: 200px;
      padding: 5px 15px;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 10px;
      text-align: left;
      position: relative;
      .icon {
        float: right;
      }
      &:hover {
        color: #FFFFFF;
      }
    }
    .btn-friend {
      background: #000000;
      .icon:before {
        content: '';
        background: url(../images/ico-share.png) no-repeat center center;
        position: absolute;
        top: 5px;
        right: 10px;
        width: 15px;
        height: 15px;
      }
      &:hover {
        background: #555555;
      }
    }
    .btn-phone {
      background: #7a7a7a;
      .icon:before {
        content: '';
        background: url(../images/ico-phone.png) no-repeat center center;
        position: absolute;
        top: 0;
        right: 5px;
        width: 31px;
        height: 22px;
      }
      &:hover {
        background: #9a9a9a
      }
    }
  }
}

.used-tabs {
  margin-top: 50px;
  .nav-tabs {
    border-bottom: 1px solid #000;
    li {
      a {
        margin-left: 0;
        margin-right: 0;
        padding: 15px;
        border: 3px solid #711c30;
        border-radius: 0;
        font-size: 12px;
        font-weight: 700;
        background-color: #711c30;
        color: #FFF;
        text-align: center;
        text-transform: uppercase;
        &:hover {
          background: #FFF;
          color: #711c30;
          border: 3px solid #711c30;
        }
      }
      &.active {
        a,
        a:hover,
        a:focus {
          background: #FFF;
          color: #711c30;
          border: 3px solid #711c30;
        }
      }
      &:not(:first-child) {
        margin-left: -3px;
      }
    }
    @media(min-width: $screen-md-min) {
      li {
        width: auto;
      }
      a {
        width: 195px;
      }
    }
  }
  @media(max-width: $screen-sm-max) {
    .nav-tabs {
      border-bottom: none;
      li {
        width: 50%
      }
      a {
        width: 100%;
      }
    }
  }
  .tab-content {
    padding: 20px 0;
    .list-accessories {
      list-style: disc;
      padding-left: 15px;
    }
  }
}
