<h1>FIAT NOVO UNO</h1>
<div class="car-image">
  <img src="assets/images/car-image.png" alt="" class="img-responsive">
</div>
<div class="row">
<div class="col-md-4 col-lg-6">
  <div class="colors">
 <p>Cores</p>
  <a href="#" title="Branco Banchisa" class="btn" style="background-color:#f4f4f4;">Branco Banchisa</a>
  <a href="#" title="Preto Vulcano" class="btn" style="background-color:#000000;">Preto Vulcano</a>
  <a href="#" title="Vermelho Alpine"class="btn" style="background-color:#d60b00;">Vermelho Alpine</a>
  <a href="#" title="Azul Netuno" class="btn" style="background-color:#00237f;">Azul Netuno</a>
  <a href="#" title="Cinza Scandium" class="btn" style="background-color:#868a8c;">Cinza Scandium</a>
  <a href="#" title="Prata Bari" class="btn" style="background-color:#c3c3c3;">Prata Bari</a>
</div>
</div>
 <div class="hidden-xs hidden-sm col-md-8 col-lg-6">
  <div class="btn btn-border">
    Garanta o seu através do formulário ao lado
  </div>
</div>
<div class="col-xs-12">
  <h2>Novo Uno 2015</h2>
  <p>O design do Novo Uno 2015 reflete a nova fase do modelo: a evolução. Ele mudou, mas sem perder o revolucionário conceito round square, o “quadrado redondo”, único e diferenciado. O novo design que agora conta com novos faróis e lanternas, capô, grade dianteira e parachoques ressaltam ainda mais as linhas e contornos do modelo, transmitindo maior robustez e mais esportividade. Parachoques dianteiro e traseiro exclusivos com difusores aerodinâmicos, e saída de escape dupla central e ainda rodas de liga leve aro 15”podem ser encontrados na versão Sporting. Nas versões Way, Evolution e Sporting, a seta integrada ao retrovisor vem como item de série. Surpreenda-se com a evolução do Novo Uno 2015.</p>
</div>
</div>
</ul>
