<div class="col-xs-12">
  <h2>Galeria de imagens</h2>
</div>
<div class="col-xs-12 col-lg-9">
  <div class="car-gallery">
   {% set gallery =  0..5%}
   {% for image in gallery %}
    <div>
      <img src="assets/images/car-gallery-thumb.png" alt="">
    </div>
  {% endfor %}
  </div>
</div>
