<div id="main-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        {% for b in banners %}
        <div class="item {% if loop.first %}active{% endif %}" id="carousel-item-{{ b }}">
            <div class="item-img" style="background-image: url(assets/images/background-carousel-{{loop.index}}.png)"></div>
            {#
            <div class="container hidden">
                <div class="row">
                    <div class="col-xs-12 col-lg-offset-9 col-lg-3">
                        <div class="carousel-caption">
                            <h2>Texto do Banner</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse possimus unde numquam velit hic nisi mollitia adipisci, enim fugiat perferendis deleniti blanditiis illo nemo aut saepe labore et voluptatum placeat!</p>
                            <button class="btn btn-default">Botão</button>
                        </div>
                    </div>
                </div>
            </div>#}
        </div>
        {% endfor %}
    </div>
</div>

<section class="carousel-context">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-3">
                {% include 'form-cotacao.html' %}
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
