
  <div class="container">
    <div class="col-phones">
      <a href="#">
        <div class="contact-img">
          <img src="assets/images/tel-ico.png" alt="">
        </div>
        <div class="contact-text">
          <span>Telefone
       <strong>(32) 3257-2700</strong>
       </span>
        </div>
      </a>

    </div>
    <div class="col-phones">
      <a href="#">
        <div class="contact-img">
          <img src="assets/images/whats-ico.png" alt="">
        </div>
        <div class="contact-text">
          <span>Whatsapp
       <strong>(32) 98436-1851</strong>
       </span>
        </div>
      </a>
    </div>
    <div class="col-time">
      <a href="#">
        <div class="contact-img">
          <img src="assets/images/hour-ico.png" alt="">
        </div>
        <div class="contact-text">
          <strong>De segunda a sexta, das 8h às 18h <br>Aos Sábados, de 09h às 13h</strong>
        </div>
      </a>
    </div>
    <div class="col-location">
      <a href="#">
        <div class="contact-img">
          <img src="assets/images/local-ico.png" alt="">
        </div>
        <div class="contact-text">
          <strong>Av. Brasil, 7345 - São Dimas<br>CEP 36.080-060 - Juiz de Fora/MG</strong>
        </div>
      </a>
    </div>
  </div>
