<form action="" id="quote-form" class="highlight-form">
  <h2 class="form-header">Solicite agora o nosso <strong>Preço especial de internet</strong></h2>
  <div class="form-group">
    <input placeholder="Nome" class="form-control">
  </div>
  <div class="form-group">
    <input type="email" placeholder="E-mail" class="form-control">
  </div>
  <div class="form-group">
    <input type="phone" placeholder="Telefone" class="form-control">
  </div>
  <div class="form-group">
    <input placeholder="Cidade" class="form-control">
  </div>
  <div class="form-group">
    <select name="" class="form-control">
      <option value="">Modelo</option>
    </select>
  </div>
  <div class="form-group">
    <textarea name="" id="message" placeholder="Mensagem" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-default">receber preço especial</button>
</form>
