<div class="sidebar-form">
  <form action="">
    <h2 class="context">Solicite uma <span>Cotação</span></h2>
    <div class="form-group">
      <label for="marca">Nome</label>
      <input type="text" name="nome" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="modelo">Email</label>
      <input type="email" name="Email" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="ano">Telefone</label>
      <input type="tel" name="telefone" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="ano">Modelo</label>
      <input name="modelo" type="text" class="form-control" value="Nome do carro lorem ipsum" readonly="readonly">
    </div>
    <div class="form-group">
      <label for="preco">Mensagem</label>
      <textarea name="mensagem" class="form-control"></textarea>
    </div>
    <input type="submit" value="Enviar" class="form-control">
  </form>
</div>
