<div class="container">
   <div class="highlights">
    <a href="#" style="background-image: url(assets/images/highlight-bg1.png)">
      <h3>Agende <strong>seu test drive</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button>Agendar</button>
    </a>
     <a href="#" style="background-image: url(assets/images/highlight-bg2.png)">
      <h3>Peças <strong>e Acessórios</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button>Saiba mais</button>
    </a>
    <a href="#" style="background-image: url(assets/images/highlight-bg3.png) ">
      <h3>Agende<strong>sua Revisão</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button>Agendar</button>
    </a>
  </div>
</div>
