<div class="post">
 <div class="post-img">
  <img src="assets/images/noticia-1.png" alt="">
 </div>
 <div class="post-text">
   <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
aer d liqua....</p>
 </div>
 <div class="post-bottom">
   <div class="date">23 de Fevereiro de 2016</div>
   <div class="link">Continuar lendo</div>
 </div>
</div>
