<div class="topbar hidden-xs hidden-sm">
  <div class="container">
    <div class="pull-right">
      <div class="social">
        <a href="" class="fb"></a>
        <a href="#" class="blog">Blog</a>
      </div>
      <div class="buttons">
        <a href="#">Ligamos para você</a>
        <a href="#">Chat Online</a>
      </div>
    </div>
  </div>
</div>
<nav class="navbar yamm navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Navegação alternativa</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="" class="logo">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown yamm-fw">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Veículos Novos <span class="caret"></span></a>
          <ul id="newCarsDrop" class="dropdown-menu">
            <div class="container">
              <div class="hidden-xs hidden-sm">
                <ul id="carsTab" class="nav nav-tabs">
                  <li role="presentation" class="active"><a href="#category-1" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Hatch</a></li>
                  <li role="presentation" class=""><a href="#category-2" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="false">Sedan</a></li>
                  <li role="presentation" class=""><a href="#category-3" aria-controls="home" role="tab" data-toggle="tab">PICK-UP</a></li>
                  <li role="presentation" class=""><a href="#category-4" aria-controls="home" role="tab" data-toggle="tab">Station Wagon</a></li>
                  <li role="presentation" class=""><a href="#category-5" aria-controls="home" role="tab" data-toggle="tab">Minivan</a></li>
                  <li role="presentation" class=""><a href="#category-6" aria-controls="home" role="tab" data-toggle="tab">SUV</a></li>
                  <li role="presentation" class=""><a href="#category-7" aria-controls="home" role="tab" data-toggle="tab">Comerciais</a></li>
                </ul>
                <div id="carsTabContent" class="tab-content">
                  <div class="tab-pane fade in active" id="category-1">
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/grand-siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT GRAND SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>

                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/linea.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT LINEA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/grand-siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT GRAND SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>

                    </a>
                  </div>
                  <div class="tab-pane fade" id="category-2">
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/grand-siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT GRAND SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>

                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/linea.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT LINEA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/grand-siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT GRAND SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>

                    </a>
                  </div>
                  <div class="tab-pane fade" id="category-3">
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/grand-siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT GRAND SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>

                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/linea.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT LINEA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/grand-siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT GRAND SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>

                    </a>
                  </div>
                  <div class="tab-pane fade" id="category-4">
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/grand-siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT GRAND SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>

                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/linea.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT LINEA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/grand-siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT GRAND SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>

                    </a>
                  </div>
                  <div class="tab-pane fade" id="category-5">
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/grand-siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT GRAND SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>

                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/linea.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT LINEA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/grand-siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT GRAND SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>

                    </a>
                  </div>
                  <div class="tab-pane fade" id="category-6">
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/grand-siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT GRAND SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>

                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/linea.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT LINEA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/grand-siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT GRAND SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>

                    </a>
                  </div>
                  <div class="tab-pane fade" id="category-7">
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/grand-siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT GRAND SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>

                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/linea.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT LINEA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="col-xs-12 col-md-3">
                      <div class="car-drop">
                        <div class="img-car">
                          <img src="assets/images/grand-siena.png" alt="" class="img-responsive">
                        </div>
                        <div class="car-desc">
                          <h3>FIAT GRAND SIENA</h3>
                          <div class="btn-group">
                            <button type="button" class="btn btn-newCar">Conheça</button>
                            <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                          </div>
                        </div>
                      </div>

                    </a>
                  </div>

                </div>
              </div>
              <div class="visible-xs visible-sm">
                <div class="accordion">
                  <a href="#" class="cat-title" id="cat1">Hatch</a>
                  <div class="cat-panel" id="panel-cat1">
                    <div class="car-drop">
                      <div class="img-car">
                        <img src="assets/images/grand-siena.png" alt="" class="img-responsive">
                      </div>
                      <div class="car-desc">
                        <h3>FIAT GRAND SIENA</h3>
                        <div class="btn-group">
                          <button type="button" class="btn btn-newCar">Conheça</button>
                          <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="cat-title" id="cat2">Sedan</a>
                  <div class="cat-panel" id="panel-cat2">
                    <div class="car-drop">
                      <div class="img-car">
                        <img src="assets/images/grand-siena.png" alt="" class="img-responsive">
                      </div>
                      <div class="car-desc">
                        <h3>FIAT GRAND SIENA</h3>
                        <div class="btn-group">
                          <button type="button" class="btn btn-newCar">Conheça</button>
                          <button type="button" class="btn btn-newCar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </li>
        <li><a href="#">Seminovos</a></li>
        <li><a href="#">Institucional</a></li>
        <li><a href="#">Vendas Diretas</a></li>
        <li><a href="#">Acessórios</a></li>
        <li><a href="#">Peças e Serviços</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="bottombar visible-xs visible-sm">
 <div class="container">
  <div class="buttons">
    <a href="#">Ligamos para você</a>
    <a href="#">Chat Online</a>
  </div>
  <div class="social">
    <a href="" class="fb"></a>
    <a href="#" class="blog">Blog</a>
  </div>
  </div>
</div>
