<footer>
  <div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <h2 class="context">Newsletter<span>Receba novidades</span></h2>
        </div>
        <div class="col-xs-12 col-md-9">
          <form>
            <div class="form-group no-pd-sm col-xs-12 col-sm-4">
              <input type="text" class="form-control" placeholder="Nome:">
            </div>
            <div class="form-group col-xs-12 col-sm-4 no-pd-sm">
              <input type="email" class="form-control" placeholder="E-mail">
            </div>
            <div class="col-xs-12 col-sm-4 no-pd-sm">
              <button type="submit" class="form-control">Enviar</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bg">
    <div class="container">
      <div class="row">
        <div class="site-map">
          <ul class="list-inline">
            <li> <a href="#">VEÍCULOS NOVOS </a></li>
            <li> <a href="#">SEMINOVOS</a></li>
            <li> <a href="#">INSTITUCIONAL</a></li>
            <li> <a href="#">VENDAS DIRETAS</a></li>
            <li> <a href="#">ACESSÓRIOS</a></li>
            <li> <a href="#">PEÇAS E SERVIÇOS</a></li>
            <li> <a href="#">CONTATO</a></li>
          </ul>
          <div class="social">
            <li><a href="#" class="blog">BLOG</a></li>
            <li><a href="#" class="fb"></a></li>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="new-cars-bottom">
          <div class="col-xs-12 col-sm-6 col-md-2">
            <h4 class="cat-title-footer">Hatch</h4>
            <ul>
              <li><a href="#">NOVO UNO</a></li>
              <li><a href="#">UNO</a></li>
              <li><a href="#">NOVO PALIO FIRE</a></li>
              <li><a href="#">NOVO PALIO</a></li>
              <li><a href="#">NOVO PALIO</a></li>
              <li><a href="#">NOVO PUNTO</a></li>
              <li><a href="#">500</a></li>
              <li><a href="#">500 ABARTH</a></li>
              <li><a href="#">NOVO BRAVO</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2">
            <h4 class="cat-title-footer">Sedan</h4>
            <ul>
              <li><a href="#">GRAND SIENA</a></li>
              <li><a href="#">SIENA</a></li>
              <li><a href="#">NOVO LINEA</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2">
            <h4 class="cat-title-footer">SUVS & PICK-UPS</h4>
            <ul>
              <li><a href="#">NOVA STRADA</a></li>
              <li><a href="#">STRADA ADVENTURE EXTREME</a></li>
              <li><a href="#">FIAT TORO 2016</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2">
            <h4 class="cat-title-footer">MINIVAN</h4>
            <ul>

              <li><a href="#">Idea</a></li>
              <li><a href="#">Doblô</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2">
            <h4 class="cat-title-footer">SUV</h4>
            <ul>
              <li><a href="#">FREEMONT</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2">
            <h4 class="cat-title-footer">CARGA</h4>
            <ul>
              <li><a href="#">NOVO FIORINO</a></li>
              <li><a href="#">DUCATO CARGO</a></li>
              <li><a href="#">DUCATO MULTI</a></li>
              <li><a href="#">UNO FURGÃO</a></li>
              <li><a href="#">DOBLÒ CARGO</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2">
            <h4 class="cat-title-footer">PASSAGEIRO</h4>
            <ul>
              <li><a href="#">DUCATO PASSAGEIRO</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="copyright">
          <div class="colxs-12 col-lg-3">
            <img src="assets/images/logo.png" alt="" class="logo">
          </div>
          <div class="colxs-12 col-lg-9">
            <div class="text-right">
              <a href="http://www.reweb.com.br">Desenvolvido por Reweb</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
