<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">Anterior</a>
    </li>
    <li class="active"><a href="#">01</a></li>
    {% for page in 2..5 %}
    <li><a href="#">0{{ page }}</a></li>
    {% endfor %}
    <li>
      <a href="#" aria-label="Next">Próxima</a>
    </li>
  </ul>
</nav>
