<div class="used-slider">
  {% set usedGallery = 0..5 %} {% for image in usedGallery %}
  <div>
    <img src="assets/images/used-gallery.png" class="img-responsive" alt="">
  </div>
  {% endfor %}
</div>
<div class="used-carousel hidden-sm hidden-xs">
  {% for image in usedGallery %}
  <div>
    <img src="assets/images/used-gallery.png" alt="">
  </div>
  {% endfor %}
</div>
