<form>
{% set anos = [2004, 2007, 2011, 2013, 2014] %}
{% set fabricantes = ['Toyota', 'Hyundai', 'Ford', 'Honda', 'Fiat'] %}
{% set modelos = ['500','Bravo','Freemont','Grand Siena','Idea','Punto','Siena','Strada'] %}
{% set precos = [{'preco' : '0,00 - 17.000,00', 'quantidade':'8'}, {'preco' : '17.000,00 - 25.000,00', 'quantidade':'8'}, {'preco' : '25.000,00 - 30.000,00', 'quantidade':'8'}, {'preco' : '30.000,00 - 35.000,00', 'quantidade':'8'}, {'preco' : '35.000,00 - 40.000,00', 'quantidade':'8'}, {'preco' : '40.000,00 - 50.000,00', 'quantidade':'8'}, ] %}
 <fieldset>
    <legend>Ano</legend>

    {% for ano in anos %}
    <div class="checkbox">
      <label for="year-{{ ano }}">
        <input type="checkbox" name="year-{{ ano }}" id="year-{{ ano }}">
        {{ ano }}
      </label>
    </div>
    {% endfor %}
  </fieldset>
  <fieldset>
    <legend>Fabricante</legend>
    {% for fabricante in fabricantes %}
    <div class="checkbox">
      <label for="maker-{{ fabricante.id }}">
        <input type="checkbox" name="maker-{{ fabricante.id }}" id="maker-{{ fabricante.id }}">
        {{ fabricante }}
      </label>
    </div>
    {% endfor %}
  </fieldset>

  <fieldset class="checkbox">
    <legend>Modelo</legend>
    {% for modelo in modelos %}
    <div class="checkbox">
      <label for="model-{{ modelo }}">
        <input type="checkbox" name="model-{{ modelo }}" id="model-{{ modelo }}">
        {{ modelo }}
      </label>
    </div>
    {% endfor %}
  </fieldset>

  <fieldset>
    <legend>Preço</legend>
    {% for preco in precos %}
    <div class="checkbox">
      <label for="price-{{ preco.preco }}">
        <input type="checkbox" name="price-{{ preco.preco }}" id="price-{{ preco.preco }}">
        R$ {{ preco.preco }} ({{preco.quantidade}})
      </label>
    </div>
    {% endfor %}
  </fieldset>
</form>
