<div class="used-block">
  <div class="used-img col-xs-12 col-sm-5 col-md-4">
    <img src="assets/images/used-car-thumb.png" alt="">
  </div>
  <div class="used-desc col-xs-12 col-sm-7 col-md-8">
   <div class="name-year">
    <span class="used-year">2011/2012</span>
    <h3>Nome do carro lorem ipsum dolor</h3>
    </div>
    <div class="clearfix"></div>
    <div class="used-details">
    <ul>
      <li><span class="used-color">prata</span></li>
      <li><span class="used-transmission">automático</span></li>
      <li><span class="used-odometer">30.000 km</span></li>
      <li><span class="used-fuel">Gasolina</span></li>
    </ul>
    </div>
    <div class="clearfix"></div>
    <div class="used-price-button">
    <span class="used-price">
      R$ 128.000,00
    </span>
    <button>Saiba mais</button>
    </div>
  </div>
</div>
