<div class="sidebar-form">
  <form action="">
    <h2 class="context">Encontre seu <span>Seminovo</span></h2>
    <div class="form-group">
      <label for="marca">Marca</label>
      <select name="marca" id="" class="form-control">
        <option value="">Selecione</option>
      </select>
    </div>
    <div class="form-group">
      <label for="modelo">Modelo</label>
      <select name="modelo" id="" class="form-control">
        <option value="">Selecione</option>
      </select>
    </div>
    <div class="form-group">
      <label for="ano">Ano</label>
      <select name="ano" id="" class="form-control">
        <option value="">Selecione</option>
      </select>
    </div>
    <div class="form-group">
      <label for="preco">Preço</label>
      <select name="preco" id="" class="form-control">
        <option value="">Selecione</option>
      </select>
    </div>
    <input type="submit" value="Buscar Carro" class="form-control">
  </form>
</div>
