{% extends 'layout.html' %} {% block title %}{% endblock %} {% block content %}
<div class="mg-tp-30"></div>
<div class="container internas">
  <div class="row">
    <div class="col-xs-12">
      <img src="assets/images/acessorios.png" class="img-responsive" alt="">
      <h1>Acessórios originais Fiat</h1>
    </div>
    <div class="col-xs-12 col-lg-8">
      <p>Favor preencher o formulário abaixo que, em breve, um de nossos consultores irá contactá-lo.
As cotações estão sujeitas a alteração e confirmação telefônica. Favor aguardar o contato do consultor!</p>
    </div>
    <div class="col-xs-12 col-lg-4">
      <div class="phone-box">
        <img src="assets/images/acessorios-phone-ico.png" alt="">
        <span class="gray">Telefone</span><br />
        <span class="phone"><small>(32)</small>3257-2706</span>
      </div>
    </div>
    <div class="clearfix"></div>
    <form action="">
    <div class="col-xs-12 col-lg-4">
      <input name="Nome" type="text" placeholder="Nome:" class="form-control">
      <input name="Email" type="text" placeholder="E-mail:" class="form-control">
      <input name="Telefone" type="text" placeholder="Telefone:" class="form-control">
    </div>
    <div class="col-xs-12 col-lg-4">
      <textarea name="mensagem" placeholder="Mensagem" class="form-control"></textarea>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-lg-4">
     <button type="submit" class="form-control">Enviar</button>
      </div>
    </form>

  </div>
</div>
{% include 'shared/load-css.html' with {'css': 'acessorios.css'} %}
{% endblock %}
