{% extends 'layout.html' %} {% block title %}{% endblock %} {% block content %}
<div class="container internas">
  <div class="row">
    <div class="col-xs-12">
      <h1>Blog de Notícias</h1>
    </div>
    <div class="col-xs-12 col-md-9">
      <div class="post-detailed">
        <img src="assets/images/blog-detalhe.png" alt="" class="img-responsive">
        <div class="date"><small>12 de fevereiro de 2016</small></div>
        <h1 class="title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et
dolore magna aliqua.
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidata non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidata non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidata non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidata non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="last-news">
        <h2>Mais lidas</h2>
        <hr class="before-h2">
        {% set lastNews = 0..5 %}
        {% for new in lastNews %}
        <a href="#" class="last-new-block">
          <span class="date">12 de fevereiro de 2016</span>
          <h3>Lorem ipsum dolor sit amet, cons
ecte tur adipiscing elit.</h3>
        </a>
        {% if not loop.last %}
        <hr>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    </div>
  </div>
</div>
{% include 'shared/load-css.html' with {'css': 'blog.css'} %}
{% endblock %}
