{% extends 'layout.html' %} {% block title %}{% endblock %} {% block content %}
<div class="container internas">
  <div class="row">
    <div class="col-xs-12">
      <h1>Blog de Notícias</h1>
    </div>
      {% set noticias = 0..5%}
      {% for noticia in noticias %}
       <div class="col-md-6 col-xs-12">
        {% include 'shared/noticia-bloco.html' %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% include 'shared/load-css.html' with {'css': 'blog.css'} %}
{% endblock %}
