{% extends 'layout.html' %} {% block title %}{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-9">
      {% include 'shared/car-details.html' %}
    </div>
    <div class="col-md-4 col-lg-3">
      {% include 'shared/form-cotacao.html' %}
      <div class="highlight-single">
        <a href="#" style="background-image: url(assets/images/highlight-bg1.png)">
          <h3>Agende <strong>seu test drive</strong></h3>
          <button>Agendar</button>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="bg-gray">
  <div class="container">
    <div class="row">
      {% include 'shared/car-gallery.html' %}
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    {% include 'shared/car-specs.html' %}
  </div>
</div>
{% include 'shared/load-css.html' with {'css': 'car_detail.css'} %} {% endblock %}
