{% extends 'layout.html' %} {% block title %}{% endblock %} {% block content %}
<div class="mg-tp-30"></div>
<div class="container internas">
  <div class="row">
    <div class="col-xs-12">
      <img src="assets/images/consorcio.png" class="img-responsive" alt="">
    </div>
    <div class="col-xs-12 col-md-9">
      <h2>Escolha a opção que melhor se adequa ao se orçamento.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      {% set carrosConsorcio = 0..5 %} {% for carro in carrosConsorcio %}
      <div class="col-xs-12 col-md-4">
        <div class="consorcioBlock">
          <img src="assets/images/consorcioMini.png" alt="" class="img-responsive">
          <h3>FIAT UNO 1.0</h3>
          <span class="version">Versão: Loren ipsun</span>
          <span class="credito">Crédito: <strong>R$62.796,00</strong></span>
          <ul>Parcelamento
            <li>48x R$1.445,62</li>
            <li>60x R$1.156,49</li>
            <li>72x R$968,11</li>
          </ul>
          <a href="#" class="btn">SOLICITAR CONSÓRCIO</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-xs-12 col-md-3">
      <h3>Solicite contato de um consultor</h3>
      <form action="">
        <input name="Nome" type="text" class="form-control" placeholder="Nome">
        <input name="Telefone" type="text" class="form-control" placeholder="Telefone">
        <input name="Email" type="text" class="form-control" placeholder="Email">
        <select name="Modelo" id="" class="form-control">
          <option value="">Modelo Desejado</option>
        </select>
        <select name="Estado" id="" class="form-control">
          <option value="">Estado</option>
        </select>
        <input name="Cidade" type="text" class="form-control" placeholder="Cidade">
        <textarea name="Mensagem" id="" class="form-control" placeholder="Mensagem"></textarea>
        <input type="submit" value="Enviar" class="form-control">
      </form>
    </div>
  </div>
</div>
{% include 'shared/load-css.html' with {'css': 'consorcio.css'} %} {% endblock %}
