{% extends 'layout.html' %} {% block title %}{% endblock %} {% block content %}
<div class="mg-tp-30"></div>
<div class="container internas">
  <div class="row">
    <div class="col-xs-12">
      <img src="assets/images/contato.png" class="img-responsive" alt="">
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-md-8">
      <h1>Fale Conosco</h1>
      <p>Favor preencher o formulário abaixo com suas dúvidas, críticas ou sugestões.</p>
      <p>Sua opinião é muito importante para nós! Se preferir, pode entrar em contato por telefone.</p>
      <div class="row">
        <div class="col-xs-12 col-md-5">
          <input name="Nome" type="text" placeholder="Nome:" class="form-control">
          <input name="Email" type="text" placeholder="E-mail:" class="form-control">
          <input name="Telefone" type="text" placeholder="Telefone:" class="form-control">
        </div>
        <div class="col-xs-12 col-md-7">
          <textarea name="mensagem" class="form-control" rows="8" placeholder="Mensagem"></textarea>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 col-md-5">
          <button type="submit" class="form-control text-uppercase">enviar</button>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12">
          <hr>
          <div class="contact"><img src="assets/images/hour-ico.png" alt="" width="16" height="16">
            <p>De segunda a sexta, das 8h às 18h
              <br> Aos Sábados, de 09h às 13h</p>
          </div>
          <div class="contact"><img src="assets/images/mobile-phone-ico.png" alt="" width="11" height="19">
            <p>Telefone: <a href="tel:(32)32572700">(32) 3257-2700</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <h1>Localização</h1>
      <div class="address">
        <p><strong>Delta Fiat</strong></p>
        <p>Av. Brasil, 7345 - São Dimas - CEP 36.080-060</p>
        <p>Juiz de Fora/MG - Tel: (32) 3257-2700</p>
      </div>
      <div id="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14817.359498811311!2d-43.3760221!3d-21.8057953!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5447bebc8d171098!2sDelta+Fiat!5e0!3m2!1spt-BR!2sbr!4v1465587834089" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
{% include 'shared/load-css.html' with {'css': 'contato.css'} %} {% endblock %}
