{% extends 'layout.html' %} {% block title %}{% endblock %}{% set banners = 0..1 %} {% block content %}
<section>
{% include 'shared/carousel.html' %}
</section>
<section class="contact-bar">
{% include 'shared/contact-bar.html' %}
</section>
<section>
{% include 'shared/highlights.html' %}
</section>
<section class="used-cars">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-9">
       <div class="title"><h2>Seminovos </h2>
        <a href="#">Ver mais</a>
        </div>

        {% set usedCars = 0..5 %}
          {% for car in usedCars %}
            {% include 'shared/used-car.html' %}
          {% endfor %}
      </div>
      <div class="col-xs-12 col-lg-3">
        {% include 'shared/used-filter-home.html' %} {% include 'shared/about-us.html' %}
      </div>
    </div>
  </div>
</section>
{% include 'shared/load-css.html' with {'css': 'index.css'} %} {% endblock %}
