{% extends 'layout.html' %} {% block title %}{% endblock %} {% block content %}
<div class="mg-tp-30"></div>
<div class="container internas">
  <div class="row">
    <div class="col-xs-12">
      <div class="banner-top">
        <img src="assets/images/institucional.png" alt="" class="img-responsive">
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <h1>Quem Somos</h1>
      <p>Fundada em junho de 1993, a <strong>Delta Fiat</strong> representa hoje, com qualidade e tradição, a marca Fiat no Brasil.</p>
      <p>A Delta Fiat comercializa a mais completa e moderna linha de veículos de passeio, utilitários e comerciais leves, além de contar com um eficiente atendimento de pós-venda, completo estoque de peças e oficina especializada, assegurando qualidade, agilidade e segurança na manutenção do seu Fiat. Eleita pela Fiat Automóveis como a melhor dentre as maiores concessionárias Fiat de Minas Gerais, a Fiat Delta possui uma ampla e moderna estrutura, além de um atendimento personalizado.</p>
      <p>Com uma ampla concessionária estrategicamente localizada no coração de Juiz de Fora, conta com mais de 200 funcionários qualificados dentro do mais alto padrão de excelência, qualidade, seriedade e comprometimento nos serviços prestados, priorizando sempre a satisfação do cliente Desde a sua fundação, a Delta Fiat preza pela ética empresarial, transparência e idoneidade com foco no seu público externo e interno, mantendo assim relacionamentos sólidos e duradouros.</p>
    </div>
    <div class="col-xs-12 col-md-6">
      <img src="assets/images/institucional2.png" alt="" class="img-responsive">
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-md-6">
      <p>Assumimos como valores fundamentais da organização:</p>
      <ul class="list-bullet">
        <li>Foco no cliente;</li>
        <li>Excelência no atendimento;</li>
        <li>Seriedade e comprometimento;</li>
        <li>Tradição;</li>
        <li>Qualidade;</li>
        <li>Desenvolvimento de nossos funcionários;</li>
        <li>Responsabilidade ambiental e social.</li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-6">
      <h2>Nossa missão:</h2>
      <p>Ser o elo forte entre o cliente e a empresa, buscando sempre proporcionar a aquisição segura de bens e serviços, através de uma gestão comprometida com os nossos valores. Assim garantindo a satisfação dos nossos clientes internos e externos.</p>
      <h2>Nossa visão:</h2>
      <p>Ser reconhecida no mercado nacional como uma empresa de excelência no segmento de comercialização, financiamento e assistência técnica em veículos.</p>
    </div>
  </div>
</div>

{% endblock %}
