<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="title" content="{% block contenttitle %}{% endblock %}">
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="keywords" content="{% block keywords %}{% endblock %}">
  <meta property="og:title" content="{% block ogtitle %}{% endblock %}">
  <meta property="og:type" content="Website">
  <meta property="og:url" content="{% block ogurl %}{% endblock %}">
  <meta property="og:image" content="{% block ogimage %}{% endblock %}">
  <meta property="og:site_name" content="{% block ogsitename %}{% endblock %}"> {# include 'shared/app-icons.html' #}
  <link rel="shortcut icon" href="favicon.ico">
  {% include 'shared/styles.html' %}
  <title>{% block title %}{% endblock %}</title>
  <base href="{{ rooturl }}"> {% block head %}{% endblock %}
</head>

<body>
  <header>
    {% include 'shared/page-header.html' %}
  </header>
  {% block content %}{% endblock %} {% include 'shared/page-footer.html' %}
  <script src="assets/js/shared.js"></script>
  <script src="assets/js/app.js"></script>
  {% block scripts %}{% endblock %}
</body>

</html>
