{% extends 'layout.html' %} {% block title %}{% endblock %} {% block content %}
<div class="mg-tp-30"></div>
<div class="container internas">
  <div class="row">
    <div class="col-xs-12">
      <img src="assets/images/pecas.png" class="img-responsive" alt="">
      <h1>Solicite sua revisão</h1>
    </div>
    <div class="col-xs-12 form_steps hidden-xs hidden-sm">
      <div class="bar"></div>
      <div class="steps">
        <div class="step">01</div>
        <div class="step">02</div>
        <div class="step">03</div>
      </div>
    </div>
    <form action="">
      <div class="col-md-4 col-xs-12">
        <div class="col-xs-12 single-step visible-sm visible-xs">
          <div class="step">01</div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div id="datetimepicker1"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
       <div class="col-xs-12 single-step visible-sm visible-xs">
          <div class="step">02</div>
        </div>
        <input type="text" class="form-control" id="datetimepicker2" placeholder="Horário">
        <input name="Nome" type="text" placeholder="Nome:" class="form-control">
        <input name="Email" type="text" placeholder="E-mail:" class="form-control">
        <input name="Telefone" type="text" placeholder="Telefone:" class="form-control">
        <select name="" class="form-control">
          <option value="">Modelo Desejado</option>
        </select>
      </div>

      <div class="col-md-4 col-xs-12">
       <div class="col-xs-12 single-step visible-sm visible-xs">
          <div class="step">03</div>
        </div>
        <textarea name="mensagem" class="form-control" rows="12" placeholder="Mensagem"></textarea>
        <button type="submit" class="form-control text-uppercase">agendar serviço</button>
      </div>
    </form>
  </div>
</div>
{% include 'shared/load-css.html' with {'css': 'pecas_e_servicos.css'} %} {% endblock %}
