{% extends 'layout.html' %} {% block title %}{% endblock %} {% block content %}
<div class="mg-tp-30"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="form-filter">
        <div class="form-header">
          <h2>Encontre seu carro</h2>
        </div>
        {% include 'shared/used-filter.html' %}
      </div>
    </div>
    <div class="col-xs-12 col-md-9">
      <div class="row">
        <div class="col-xs-12 col-md-5">
          <h3 class="result-h3">Resultado de busca</h3>
          <div class="search-results">(1-20 de 100 veículos encontrados)</div>
        </div>
        <div class="col-xs-12 col-md-5 col-md-offset-2">
         <div class="form-inline pull-right"><div class="form-group">
           <label for="order">Ordernar Por:</label>
           <select name="order" id="" class="control-border">
             <option value="preco,asc">Preço - Menor para Maior</option>
             <option value="preco,desc">Preço - Maior para Menor</option>
             <option value="ano,asc">Ano - Menor para Maior</option>
             <option value="ano,desc">Ano - Maior para Menor</option>
           </select>
          </div></div>

        </div>
      </div>
      {% for car in 1..7 %} {% set carLink = 'used_car_detail.html' %} {% include 'shared/used-car.html' %} {% endfor %}
      <div class="col-xs-12">
        {% include 'shared/pagination.html' %}
      </div>
    </div>
  </div>
</div>
{% include 'shared/load-css.html' with {'css': 'used_cars.css'} %} {% endblock %}
