{% extends 'layout.html' %} {% block title %}{% endblock %} {% block content %}
<div class="mg-tp-30"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-9">
      <div class="row">
        <div class="col-xs-12 col-md-7">
          {% include 'shared/used-gallery.html' %}
        </div>
        <div class="col-xs-12 col-md-5">
          <div class="used-detailed">
            <h2>Nome do carro lorem ipsum</h2>
            <div class="price"><span>Preço</span> <strong>R$ 128.000,00</strong></div>
            <div class="details">
              <div class="year">
                <div class="key">Ano</div>
                <div class="value">2011/2012</div>
              </div>
              <div class="odometer">
                <div class="key">Odometer</div>
                <div class="value">65.000Km</div>
              </div>
              <div class="transmission">
                <div class="key">Transmissão</div>
                <div class="value">Automática</div>
              </div>
              <div class="fuel">
                <div class="key">Combustível</div>
                <div class="value">Flex</div>
              </div>
            </div>
            <div class="buttons">
              <a href="" class="btn btn-friend">enviar para um amigo <span class="icon"></span></a>
              <a href="" class="btn btn-phone">enviar para O CELULAR <span class="icon"></span></a>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12">
          <div class="used-tabs">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#specs" aria-controls="specs" role="tab" data-toggle="tab">Especificações</a></li>
              <li role="presentation"><a href="#acc" aria-controls="acc" role="tab" data-toggle="tab">Acessórios</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="specs">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              </div>
              <div role="tabpanel" class="tab-pane" id="acc">
                <ul class="list-accessories">
                  <li>Airbag motorista</li>
                  <li>Ar-condicionado</li>
                  <li>Travas elétricas</li>
                  <li>Retrovisores elétricos</li>
                  <li>Airbag passageiro</li>
                  <li>Rodas de liga leve</li>
                  <li>Piloto automático</li>
                  <li>Vidros elétricos dianteiros e traseiros</li>
                  <li>Cd player com mp3</li>
                  <li>Entrada usb</li>
                  <li>Direção elétrica</li>
                  <li>Todas revisões feitas</li>
                  <li>Único dono</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-3">
      {% include 'shared/form-seminovo.html' %}
    </div>
  </div>
</div>
{% include 'shared/load-css.html' with {'css': 'used_cars.css'} %} {% endblock %}
