.car-image {
  margin: 45px 0; }

.colors {
  margin-bottom: 20px; }
  .colors p {
    font-weight: 400;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0; }
  .colors a {
    width: 22px;
    height: 22px;
    border-radius: 22px;
    text-indent: -9999px;
    font-size: 0;
    padding: 0; }

.btn-border {
  padding: 9px 18px 9px 18px;
  border: 1px solid #711c30; }

h2 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 20px; }

p {
  font-size: 14px;
  font-weight: 400; }

.bg-gray h2 {
  margin-bottom: 20px;
  margin-top: 0; }

.slick-slider {
  margin-left: 25px;
  margin-right: 25px; }

.slick-slide {
  padding: 2px; }
  .slick-slide img {
    width: 100%; }

.slick-prev:hover {
  cursor: pointer; }

.slick-prev:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/left-arrow-gallerynew.png) no-repeat center center; }

.slick-next:hover {
  cursor: pointer; }

.slick-next:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/right-arrow-gallerynew.png) no-repeat center center; }

.specifications h2 {
  margin-bottom: 10px; }

.specifications .version_list {
  margin: 10px 0 0;
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0;
  padding: 15px 20px 0 0; }
  .specifications .version_list .version_item {
    margin: 0 0 15px 20px;
    display: inline-block;
    vertical-align: middle; }
    .specifications .version_list .version_item label {
      cursor: pointer;
      margin: 0;
      padding: 0; }
    .specifications .version_list .version_item input {
      display: none; }
    .specifications .version_list .version_item i {
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      border: 1px solid #bcbcbc;
      border-radius: 5px;
      background: linear-gradient(#fdfdfd, #e4e4e4);
      background: -o-linear-gradient(#fdfdfd, #e4e4e4); }
      .specifications .version_list .version_item i::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        margin: 2px;
        border-radius: 3px;
        background: #666;
        transition: .3s;
        opacity: 0; }
    .specifications .version_list .version_item span {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 10px;
      font-size: 13px;
      color: #333;
      font-weight: 400; }
    .specifications .version_list .version_item :checked + i::before {
      opacity: 1; }

.specifications .feature_list {
  margin: 35px 0 0;
  width: 100%; }
  .specifications .feature_list > .title .feature_title .title_item {
    min-height: 14px;
    margin: 0 0 30px;
    text-align: center;
    font-size: 14px;
    color: #85131d;
    font-weight: 400; }
    .specifications .feature_list > .title .feature_title .title_item:first-of-type {
      margin: 0 0 30px 20%; }
  .specifications .feature_list .feature {
    height: 27px; }
  .specifications .feature_list > * ul {
    margin: 0;
    padding: 0;
    text-align: left; }
    .specifications .feature_list > * ul:first-of-type {
      border-top: 0px; }
    .specifications .feature_list > * ul li {
      width: 25%;
      display: inline-block;
      vertical-align: middle; }
  .specifications .feature_list .feature_item .feature_value .value_item {
    font-size: 14px;
    color: #333;
    text-align: center;
    font-weight: 400;
    height: auto;
    line-height: 34px; }
    .specifications .feature_list .feature_item .feature_value .value_item.title {
      text-align: left;
      color: #85131d;
      font-weight: 400;
      text-transform: uppercase;
      width: 20%;
      margin-bottom: 0 !important;
      padding: 10px 0; }

.specifications .models-open-mobile,
.specifications .feature-list-mobile {
  display: none; }

.specifications .feature-list-mobile li {
  border-bottom: 1px solid #ccc;
  height: auto;
  list-style-type: none;
  padding: 10px 0 10px 0;
  text-align: center; }
  .specifications .feature-list-mobile li strong {
    text-transform: uppercase; }

.specifications .feature-list-mobile .model-name {
  line-height: 50px; }

@media (max-width: 1200px) {
  .specifications .feature_list, .specifications .models-open {
    display: none; }
  .specifications .feature-list-mobile,
  .specifications .models-open-mobile {
    display: block; }
  .specifications .feature-list-mobile li {
    height: 60px; }
  .specifications .feature-list-mobile .model-name strong {
    font-size: 23px; } }

/*# sourceMappingURL=car_detail.css.map */
