h2 {
  font-size: 30px !important;
  font-weight: 400 !important;
  font-style: italic; }

.consorcioBlock {
  margin-bottom: 60px; }
  .consorcioBlock h3 {
    font-size: 24px;
    color: #85131d;
    font-weight: 400; }
  .consorcioBlock span {
    color: #666666;
    font-size: 12px;
    display: block; }
    .consorcioBlock span strong {
      font-size: 14px;
      color: #394eb8;
      font-weight: 500; }
    .consorcioBlock span ul {
      color: #000000; }
  .consorcioBlock .btn {
    background-color: #441420;
    color: #FFF;
    font-size: 12px;
    font-weight: 700; }

h3 {
  font-weight: 700;
  color: #242021; }

/*# sourceMappingURL=consorcio.css.map */
