#map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 292px; }
  #map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

.contact {
  display: block;
  clear: both; }
  .contact img {
    margin-right: 5px;
    margin-top: 2px;
    float: left; }
  .contact p {
    float: left; }
    .contact p a {
      font-weight: 300;
      color: #737373;
      text-decoration: none; }

/*# sourceMappingURL=contato.css.map */
