@charset "UTF-8";
.post .post-img {
  float: left;
  padding: 10px 10px 10px 0;
  width: 50%; }
  .post .post-img img {
    width: 100%; }

.post .post-text {
  float: left;
  width: 50%;
  padding: 25px 20px 0 20px; }
  .post .post-text h2 {
    font-size: 20px;
    font-weight: 400; }
  .post .post-text p {
    font-size: 13px; }

.post .post-bottom {
  display: block;
  clear: both;
  width: 100%;
  background-color: #b73352;
  padding: 15px;
  color: #FFF;
  font-weight: bold; }
  .post .post-bottom .date {
    width: 50%;
    float: left;
    text-indent: 30px; }
  .post .post-bottom .link {
    text-decoration: underline;
    text-indent: 30px;
    position: relative; }
    .post .post-bottom .link:after {
      content: '→';
      font-size: 40px;
      line-height: 0;
      position: absolute;
      right: 0; }

@media (max-width: 991px) {
  .post .post-img {
    width: 100%;
    padding: 10px 0; }
  .post .post-text {
    width: 100%;
    padding: 5px 0 15px 0; }
  .post .post-bottom {
    padding: 0; }
    .post .post-bottom .date, .post .post-bottom .link {
      width: 100%;
      padding: 15px; } }

.post-detailed img {
  margin-bottom: 30px; }

.post-detailed .date small {
  font-size: 11px; }

.post-detailed h1.title {
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  margin-top: 0; }

.post-detailed p {
  font-size: 13px; }

.last-news {
  background-color: #f5f5f5;
  padding: 32px; }
  .last-news h2 {
    font-weight: 400;
    font-size: 25px;
    color: #212121;
    margin-top: 0; }
  .last-news hr {
    margin: 15px 0; }
  .last-news hr.before-h2 {
    width: 124px;
    border-top: 3px solid #711c30;
    margin: 0 0 30px 0; }
  .last-news a.last-new-block {
    color: #212121; }
    .last-news a.last-new-block span.date {
      font-size: 11px; }
    .last-news a.last-new-block h3 {
      margin-top: 10px;
      font-size: 12px; }

/*# sourceMappingURL=noticias.css.map */
