textarea {
  min-height: 80px; }

.highlight-form {
  background: #242021;
  color: #FFF;
  padding: 25px;
  margin-top: -1px; }
  .highlight-form .form-group {
    margin-bottom: 9px; }
    .highlight-form .form-group input, .highlight-form .form-group select, .highlight-form .form-group textarea {
      font-size: 11px; }
    .highlight-form .form-group textarea {
      resize: none; }
    .highlight-form .form-group select {
      padding: 6px 8px; }
  .highlight-form button[type=submit] {
    background-color: #fdb515;
    color: #242021;
    text-transform: uppercase;
    color: #242021;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    height: 39px;
    border: none; }
  .highlight-form h2 {
    margin-top: 0;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
    line-height: 17.01px; }
    .highlight-form h2 strong {
      font-size: 24px;
      font-weight: 900;
      line-height: 24.003px; }

@media (max-width: 991px) {
  .highlight-form {
    margin-left: -15px;
    margin-right: -15px; } }

.form-header {
  text-transform: uppercase; }

.dealers-form {
  background-color: purple; }

/*# sourceMappingURL=page.css.map */
