@import url(lib/bootstrap-sass/datimepicker/bootstrap-datetimepicker.min.css);
.form_steps {
  position: relative;
  margin: 65px 0; }
  .form_steps .bar {
    height: 4px;
    width: calc(100% - 40px);
    margin: auto;
    background: #EEE; }
  .form_steps .steps .step {
    display: block;
    position: absolute;
    top: -19px;
    left: 0;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background: #EEE;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    color: 333; }
    .form_steps .steps .step:nth-of-type(1) {
      left: calc(33%/2 - 21px); }
    .form_steps .steps .step:nth-of-type(2) {
      left: calc(50% - 21px); }
    .form_steps .steps .step:nth-of-type(3) {
      left: auto;
      right: calc(33%/2 - 21px); }

.single-step {
  text-align: center;
  margin: 10px 0 20px 0; }
  .single-step .step {
    width: 42px;
    height: 42px;
    border-radius: 42px;
    margin: auto;
    font-size: 25px;
    font-weight: 400;
    background-color: #eeeeee;
    padding: 3px; }

#datetimepicker1 {
  border-bottom: 2px solid #bdbdbd; }

.bootstrap-datetimepicker-widget a {
  color: #c5394c; }

.datepicker {
  background-color: #f7f7f7; }
  .datepicker td.today:before {
    border-bottom-color: #c5394c !important; }
  .datepicker td.day {
    width: 54px !important; }
  .datepicker th,
  .datepicker td {
    border-radius: 0 !important; }
  .datepicker th {
    font-weight: normal; }
  .datepicker thead > tr:first-child > th {
    padding: 10px; }
  .datepicker thead tr + tr {
    background-color: #bdbdbd; }

/*# sourceMappingURL=pecas_e_servicos.css.map */
