.pagination {
  float: right; }
  .pagination > li > a {
    border: none;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px !important;
    margin: 0 3px; }
    .pagination > li > a:hover {
      color: #ffffff;
      background-color: #c5394c;
      border-radius: 5px; }
  .pagination > .active a, .pagination > .active a:hover {
    color: #ffffff;
    background-color: #c5394c;
    border-radius: 5px; }

/*# sourceMappingURL=used_cars.css.map */
