@media (min-width: 992px) {
  .form-control {
    width: 47%;
    float: left; }
    .form-control:nth-child(odd) {
      margin-right: 6%; }
  textarea.form-control {
    width: 100%; } }

/*# sourceMappingURL=vendas_diretas.css.map */
