.phone-box{
  img{
    float: left;
    margin-right: 10px;
  }
  .gray{
    display: block;
    float: left;
    color: #737373;
    font-weight: 300;
    text-transform: uppercase;
  }
  .phone{
    display: block;
    float: left;
    font-size: 24px;
    font-weight: 700;
    small{
      font-size: 12px;
    }
  }
}
