@import "lib/bootstrap-sass/bootstrap/variables";
.post{
  .post-img {
    float: left;
    padding: 10px 10px 10px 0;
    width: 50%;
    img{
      width: 100%;
    }
  }
  .post-text{
    float: left;
    width: 50%;
    padding: 25px 20px 0 20px;
    h2{
      font-size: 20px;
      font-weight: 400;
    }
    p{
      font-size: 13px;
    }
  }
  .post-bottom {
    display: block;
    clear: both;
    width: 100%;
    background-color: #b73352;
    padding: 15px;
    color: #FFF;
    font-weight: bold;
    .date{
      width: 50%;
      float: left;
      text-indent: 30px;
    }
    .link{
      text-decoration: underline;
      text-indent: 30px;
      position: relative;
      &:after{
        content: '→';
        font-size: 40px;
        line-height: 0;
        position: absolute;
        right: 0;
      }
    }
}
  @media(max-width: $screen-sm-max){
    .post-img{
      width: 100%;
      padding: 10px 0;
    }
    .post-text{
      width: 100%;
      padding: 5px 0 15px 0;
    }
    .post-bottom{
      padding: 0;
      .date, .link{
      width: 100%;
        padding: 15px;
      }
    }
  }
}

.post-detailed{
  img{
    margin-bottom: 30px;
  }
  .date{
    small{
      font-size: 11px;
    }
  }
   h1.title{
      font-size: 15px;
      font-weight: 700;
      font-style: normal;
     margin-top: 0;
    }
  p{
    font-size: 13px;
  }
}

.last-news {
	background-color: #f5f5f5;
    padding: 32px;
  h2{
    font-weight: 400;
    font-size: 25px;
    color: #212121;
    margin-top: 0;
  }
  hr{
    margin: 15px 0;
  }
  hr.before-h2 {
    width: 124px;
    border-top: 3px solid #711c30;
    margin: 0 0 30px 0;
  }
  a.last-new-block{
   color: #212121;
    span.date{
      font-size: 11px;
    }
    h3{
      margin-top: 10px;
      font-size: 12px;
    }
  }
}
