h2{
  font-size: 30px !important;
  font-weight: 400 !important;
  font-style: italic;
}
.consorcioBlock {
  margin-bottom: 60px;
  h3{
    font-size: 24px;
    color: #85131d;
    font-weight: 400;
  }
  span{
	  color: #666666;
    font-size: 12px;
    display: block;
    strong{
      font-size: 14px;
      color: #394eb8;
      font-weight: 500;
    }
    ul{
      color: #000000;
    }
  }
  .btn{
    background-color: #441420;
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
  }
}
h3{
  font-weight: 700;
  color: #242021;
}
