#map{
  overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
  height:292px;
  iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
}
.contact{
  display: block;
  clear: both;
  img{
    margin-right: 5px;
    margin-top:2px;
    float:left
  }
  p{
    float: left;
    a{
      font-weight: 300;
      color: #737373;
      text-decoration: none;
    }
  }
}
