@import "lib/bootstrap-sass/datimepicker/bootstrap-datetimepicker.min.css";
.form_steps {
  position: relative;
  margin: 65px 0;
  .bar {
    height: 4px;
    width: calc(100% - 40px);
    margin: auto;
    background: #EEE;
  }
  .steps {
    .step {
      display: block;
      position: absolute;
      top: -19px;
      left: 0;
      width: 42px;
      height: 42px;
      border-radius: 100%;
      background: #EEE;
      text-align: center;
      line-height: 40px;
      font-size: 24px;
      color: 333;
      &:nth-of-type(1) {
        left: calc(33%/2 - 21px);
      }
      &:nth-of-type(2) {
        left: calc(50% - 21px);
      }
      &:nth-of-type(3) {
        left: auto;
        right: calc(33%/2 - 21px);
      }
    }
  }
}

.single-step {
  text-align: center;
  margin: 10px 0 20px 0;
  .step {
    width: 42px;
    height: 42px;
    border-radius: 42px;
    margin: auto;
    font-size: 25px;
    font-weight: 400;
    background-color: #eeeeee;
    padding: 3px;
  }
}

#datetimepicker1 {
  border-bottom: 2px solid #bdbdbd
}

.bootstrap-datetimepicker-widget {
  a {
    color: #c5394c;
  }
}

.datepicker {
  background-color: #f7f7f7;
  td.today:before {
    border-bottom-color: #c5394c !important;
  }
  td.day {
    width: 54px !important;
  }
  th,
  td {
    border-radius: 0 !important;
  }
  th {
    font-weight: normal;
  }
  thead {
    > tr:first-child > th {
      padding: 10px;
    }
    tr + tr {
      background-color: #bdbdbd;
    }
  }
}
