<div class="col-md-12">
      <dl class="feature_list">
        <dt class="title">
                                    <ul class="feature_title">
                                        <li style="width:20%;"></li>
                                                                                    <li class="title_item model0" style="display: inline-block;">Attractive 1.0 4p 2016</li>
                                                                                    <li class="title_item model1" style="display: inline-block;">Way 1.0 4p 2016</li>
                                                                                    <li class="title_item model2" style="display: inline-block;">Way 1.4 2016</li>
                                                                                    <li class="title_item model3" style="display: none;">Evolution 1.4 4p 2016</li>
                                                                                    <li class="title_item model4" style="display:none;">Sporting 1.4 4p 2016</li>
                                                                            </ul>
                                </dt>

        <dd class="feature_item">
          <ul class="feature_value">
            <li class="value_item title">NÚMERO DE CILINDROS</li>
            <li class="value_item model0" style="display: inline-block;">4 em linha</li>
            <li class="value_item model1" style="display: inline-block;">4 em linha</li>
            <li class="value_item model2" style="display: inline-block;">4 em linha</li>
            <li class="value_item model3" style="display: none;">4 em linha</li>
            <li class="value_item model4" style="display:none;">4 em linha</li>
          </ul>
          <ul class="feature_value">
            <li class="value_item title">POSIÇÃO DO MOTOR</li>
            <li class="value_item model0" style="display: inline-block;">Transversal anterior</li>
            <li class="value_item model1" style="display: inline-block;">Transversal anterior</li>
            <li class="value_item model2" style="display: inline-block;">Transversal anterior</li>
            <li class="value_item model3" style="display: none;">Transversal anterior</li>
            <li class="value_item model4" style="display:none;">Transversal anterior</li>
          </ul>
          <ul class="feature_value">
            <li class="value_item title">Nº DE VÁLVULAS POR CILINDRO</li>
            <li class="value_item model0" style="display: inline-block;">2</li>
            <li class="value_item model1" style="display: inline-block;">2</li>
            <li class="value_item model2" style="display: inline-block;">2</li>
            <li class="value_item model3" style="display: none;">2</li>
            <li class="value_item model4" style="display:none;">2</li>
          </ul>
          <ul class="feature_value">
            <li class="value_item title">CILINDRADA TOTAL (CC)</li>
            <li class="value_item model0" style="display: inline-block;">999</li>
            <li class="value_item model1" style="display: inline-block;">999</li>
            <li class="value_item model2" style="display: inline-block;">1.368</li>
            <li class="value_item model3" style="display: none;">1.368</li>
            <li class="value_item model4" style="display:none;">1.368</li>
          </ul>
          <ul class="feature_value">
            <li class="value_item title">POTÊNCIA MÁXIMA (CV)</li>
            <li class="value_item model0" style="display: inline-block;">73,0 (G) / 75,0 (E) a 6.250 rpm</li>
            <li class="value_item model1" style="display: inline-block;">73,0 (G) / 75,0 (E) a 6.250 rpm</li>
            <li class="value_item model2" style="display: inline-block;">85,0 (G) / 88,0 (E) a 5.750 rpm</li>
            <li class="value_item model3" style="display: none;">85,0 (G) / 88,0 (E) a 5.750 rpm</li>
            <li class="value_item model4" style="display:none;">85,0 (G) / 88,0 (E) a 5.750 rpm</li>
          </ul>
          <ul class="feature_value">
            <li class="value_item title">TORQUE MÁXIMO (KGF.M)</li>
            <li class="value_item model0" style="display: inline-block;">9,5 (G) / 9,9 (E) a 3.850 rpm</li>
            <li class="value_item model1" style="display: inline-block;">9,5 (G) / 9,9 (E) a 3.850 rpm</li>
            <li class="value_item model2" style="display: inline-block;">12,4 (G) / 12,5 (E) a 3.500 rpm</li>
            <li class="value_item model3" style="display: none;">12,4 (G) / 12,5 (E) a 3.500 rpm</li>
            <li class="value_item model4" style="display:none;">12,4 (G) / 12,5 (E) a 3.500 rpm</li>
          </ul>
          <ul class="feature_value">
            <li class="value_item title">COMBUSTÍVEL</li>
            <li class="value_item model0" style="display: inline-block;">Gasolina / Etanol</li>
            <li class="value_item model1" style="display: inline-block;">Gasolina / Etanol</li>
            <li class="value_item model2" style="display: inline-block;">Gasolina / Etanol</li>
            <li class="value_item model3" style="display: none;">Gasolina / Etanol</li>
            <li class="value_item model4" style="display:none;">Gasolina / Etanol</li>
          </ul>
          <ul class="feature_value">
            <li class="value_item title">DIÂMETRO MÍNIMO DE CURVA</li>
            <li class="value_item model0" style="display: inline-block;">9,8</li>
            <li class="value_item model1" style="display: inline-block;">9,8</li>
            <li class="value_item model2" style="display: inline-block;">9,8</li>
            <li class="value_item model3" style="display: none;">9,8</li>
            <li class="value_item model4" style="display:none;">9,8</li>
          </ul>
          <ul class="feature_value">
            <li class="value_item title">TIPO DE DIREÇÃO</li>
            <li class="value_item model0" style="display: inline-block;">Mecânica com pinhão e cremalheira (opt Hidraúlica)</li>
            <li class="value_item model1" style="display: inline-block;">Hidráulica com pinhão e cremalheira</li>
            <li class="value_item model2" style="display: inline-block;">Hidráulica com pinhão e cremalheira</li>
            <li class="value_item model3" style="display: none;">Hidráulica com pinhão e cremalheira</li>
            <li class="value_item model4" style="display:none;">Hidráulica com pinhão e cremalheira</li>
          </ul>
          <ul class="feature_value">
            <li class="value_item title">PNEUS</li>
            <li class="value_item model0" style="display: inline-block;">165/70 R13</li>
            <li class="value_item model1" style="display: inline-block;">175/65 R14</li>
            <li class="value_item model2" style="display: inline-block;">175/70 R14</li>
            <li class="value_item model3" style="display: none;">175/65 R14 82T</li>
            <li class="value_item model4" style="display:none;">185/60 R115</li>
          </ul>
          <ul class="feature_value">
            <li class="value_item title">ARO</li>
            <li class="value_item model0" style="display: inline-block;">5.0 x 13" de aço estampado</li>
            <li class="value_item model1" style="display: inline-block;">5,5 x 14" de aço estampado</li>
            <li class="value_item model2" style="display: inline-block;">5.5 x 14" de aço estampado</li>
            <li class="value_item model3" style="display: none;">5.5 x 14" em chapa de aço</li>
            <li class="value_item model4" style="display:none;">6.0 x 15" de liga leve</li>
          </ul>
          <ul class="feature_value">
            <li class="value_item title">POSIÇÃO DO CÂMBIO</li>
            <li class="value_item model0" style="display: inline-block;">Transversal</li>
            <li class="value_item model1" style="display: inline-block;">Transversal</li>
            <li class="value_item model2" style="display: inline-block;">Transversal</li>
            <li class="value_item model3" style="display: none;">Transversal</li>
            <li class="value_item model4" style="display:none;">Transversal</li>
          </ul>
          <ul class="feature_value">
            <li class="value_item title">NÚMERO DE MARCHAS</li>
            <li class="value_item model0" style="display: inline-block;">5 a frente e 1 à ré</li>
            <li class="value_item model1" style="display: inline-block;">5 a frente e 1 à ré</li>
            <li class="value_item model2" style="display: inline-block;">5 a frente e 1 à ré</li>
            <li class="value_item model3" style="display: none;">5 a frente e 1 à ré</li>
            <li class="value_item model4" style="display:none;">5 a frente e 1 à ré</li>
          </ul>
          <ul class="feature_value">
            <li class="value_item title">TRAÇÃO</li>
            <li class="value_item model0" style="display: inline-block;">Dianteira com juntas homocinéticas</li>
            <li class="value_item model1" style="display: inline-block;">Dianteira com juntas homocinéticas</li>
            <li class="value_item model2" style="display: inline-block;">Dianteira com juntas homocinéticas</li>
            <li class="value_item model3" style="display: none;">Dianteira com juntas homocinéticas</li>
            <li class="value_item model4" style="display:none;">Dianteira com juntas homocinéticas</li>
          </ul>
          <ul class="feature_value">
            <li class="value_item title">TRASEIRO</li>
            <li class="value_item model0" style="display: inline-block;">A tambor com sapata autocentrante e regulagem automática de jogo
            </li>
            <li class="value_item model1" style="display: inline-block;">A tambor com sapata autocentrante e regulagem automática de jogo
            </li>
            <li class="value_item model2" style="display: inline-block;">A tambor com sapata autocentrante e regulagem automática de jogo
            </li>
            <li class="value_item model3" style="display: none;">A tambor com sapata autocentrante e regulagem automática de jogo
            </li>
            <li class="value_item model4" style="display:none;">A tambor com sapata autocentrante e regulagem automática de jogo
            </li>
          </ul>
          <ul class="feature_value">
            <li class="value_item title">DE SERVIÇO</li>
            <li class="value_item model0" style="display: inline-block;">Comando mecânico atuante nas rodas traseiras com compensação de desgaste</li>
            <li class="value_item model1" style="display: inline-block;">Comando mecânico atuante nas rodas traseiras com compensação de desgaste</li>
            <li class="value_item model2" style="display: inline-block;">Comando mecânico atuante nas rodas traseiras com compensação de desgaste</li>
            <li class="value_item model3" style="display: none;">Comando mecânico atuante nas rodas traseiras com compensação de desgaste</li>
            <li class="value_item model4" style="display:none;">Comando mecânico atuante nas rodas traseiras com compensação de desgaste</li>
          </ul>
          <ul class="feature_value">
            <li class="value_item title">DIANTEIRO</li>
            <li class="value_item model0" style="display: inline-block;">A disco ventilado (aro 13"), com pinça flutuante. A disco sólido (aro 14"), com pinça flutuante</li>
            <li class="value_item model1" style="display: inline-block;">A disco sólido com pinça flutuante</li>
            <li class="value_item model2" style="display: inline-block;">A disco sólido com pinça flutuante</li>
            <li class="value_item model3" style="display: none;">A disco sólido com pinça flutuante</li>
            <li class="value_item model4" style="display:none;">A disco sólido com pinça flutuante</li>
          </ul>
        </dd>
      </dl>

      <dl class="feature-list-mobile">
        <dd class="feature_item">
          <ul class="feature_value model0" style="display: block;">
            <li class="col-md-12 model-name"><strong>Attractive 1.0 4p 2016</strong></li>
            <li class="value_item title col-md-4"><strong>NÚMERO DE CILINDROS</strong></li>
            <li class="value_item col-md-8" style="">4 em linha</li>
            <li class="value_item title col-md-4"><strong>POSIÇÃO DO MOTOR</strong></li>
            <li class="value_item col-md-8" style="">Transversal anterior</li>
            <li class="value_item title col-md-4"><strong>Nº DE VÁLVULAS POR CILINDRO</strong></li>
            <li class="value_item col-md-8" style="">2</li>
            <li class="value_item title col-md-4"><strong>CILINDRADA TOTAL (CC)</strong></li>
            <li class="value_item col-md-8" style="">999</li>
            <li class="value_item title col-md-4"><strong>POTÊNCIA MÁXIMA (CV)</strong></li>
            <li class="value_item col-md-8" style="">73,0 (G) / 75,0 (E) a 6.250 rpm</li>
            <li class="value_item title col-md-4"><strong>TORQUE MÁXIMO (KGF.M)</strong></li>
            <li class="value_item col-md-8" style="">9,5 (G) / 9,9 (E) a 3.850 rpm</li>
            <li class="value_item title col-md-4"><strong>COMBUSTÍVEL</strong></li>
            <li class="value_item col-md-8" style="">Gasolina / Etanol</li>
            <li class="value_item title col-md-4"><strong>DIÂMETRO MÍNIMO DE CURVA</strong></li>
            <li class="value_item col-md-8" style="">9,8</li>
            <li class="value_item title col-md-4"><strong>TIPO DE DIREÇÃO</strong></li>
            <li class="value_item col-md-8" style="">Mecânica com pinhão e cremalheira (opt Hidraúlica)</li>
            <li class="value_item title col-md-4"><strong>PNEUS</strong></li>
            <li class="value_item col-md-8" style="">165/70 R13</li>
            <li class="value_item title col-md-4"><strong>ARO</strong></li>
            <li class="value_item col-md-8" style="">5.0 x 13" de aço estampado</li>
            <li class="value_item title col-md-4"><strong>POSIÇÃO DO CÂMBIO</strong></li>
            <li class="value_item col-md-8" style="">Transversal</li>
            <li class="value_item title col-md-4"><strong>NÚMERO DE MARCHAS</strong></li>
            <li class="value_item col-md-8" style="">5 a frente e 1 à ré</li>
            <li class="value_item title col-md-4"><strong>TRAÇÃO</strong></li>
            <li class="value_item col-md-8" style="">Dianteira com juntas homocinéticas</li>
            <li class="value_item title col-md-4"><strong>TRASEIRO</strong></li>
            <li class="value_item col-md-8" style="">A tambor com sapata autocentrante e regulagem automática de jogo
            </li>
            <li class="value_item title col-md-4"><strong>DE SERVIÇO</strong></li>
            <li class="value_item col-md-8" style="">Comando mecânico atuante nas rodas traseiras com compensação de desgaste</li>
            <li class="value_item title col-md-4"><strong>DIANTEIRO</strong></li>
            <li class="value_item col-md-8" style="">A disco ventilado (aro 13"), com pinça flutuante. A disco sólido (aro 14"), com pinça flutuante</li>
          </ul>
          <ul class="feature_value model1" style="display: block;">
            <li class="col-md-12 model-name"><strong>Way 1.0 4p 2016</strong></li>
            <li class="value_item title col-md-4"><strong>NÚMERO DE CILINDROS</strong></li>
            <li class="value_item col-md-8" style="">4 em linha</li>
            <li class="value_item title col-md-4"><strong>POSIÇÃO DO MOTOR</strong></li>
            <li class="value_item col-md-8" style="">Transversal anterior</li>
            <li class="value_item title col-md-4"><strong>Nº DE VÁLVULAS POR CILINDRO</strong></li>
            <li class="value_item col-md-8" style="">2</li>
            <li class="value_item title col-md-4"><strong>CILINDRADA TOTAL (CC)</strong></li>
            <li class="value_item col-md-8" style="">999</li>
            <li class="value_item title col-md-4"><strong>POTÊNCIA MÁXIMA (CV)</strong></li>
            <li class="value_item col-md-8" style="">73,0 (G) / 75,0 (E) a 6.250 rpm</li>
            <li class="value_item title col-md-4"><strong>TORQUE MÁXIMO (KGF.M)</strong></li>
            <li class="value_item col-md-8" style="">9,5 (G) / 9,9 (E) a 3.850 rpm</li>
            <li class="value_item title col-md-4"><strong>COMBUSTÍVEL</strong></li>
            <li class="value_item col-md-8" style="">Gasolina / Etanol</li>
            <li class="value_item title col-md-4"><strong>DIÂMETRO MÍNIMO DE CURVA</strong></li>
            <li class="value_item col-md-8" style="">9,8</li>
            <li class="value_item title col-md-4"><strong>TIPO DE DIREÇÃO</strong></li>
            <li class="value_item col-md-8" style="">Hidráulica com pinhão e cremalheira</li>
            <li class="value_item title col-md-4"><strong>PNEUS</strong></li>
            <li class="value_item col-md-8" style="">175/65 R14</li>
            <li class="value_item title col-md-4"><strong>ARO</strong></li>
            <li class="value_item col-md-8" style="">5,5 x 14" de aço estampado</li>
            <li class="value_item title col-md-4"><strong>POSIÇÃO DO CÂMBIO</strong></li>
            <li class="value_item col-md-8" style="">Transversal</li>
            <li class="value_item title col-md-4"><strong>NÚMERO DE MARCHAS</strong></li>
            <li class="value_item col-md-8" style="">5 a frente e 1 à ré</li>
            <li class="value_item title col-md-4"><strong>TRAÇÃO</strong></li>
            <li class="value_item col-md-8" style="">Dianteira com juntas homocinéticas</li>
            <li class="value_item title col-md-4"><strong>TRASEIRO</strong></li>
            <li class="value_item col-md-8" style="">A tambor com sapata autocentrante e regulagem automática de jogo
            </li>
            <li class="value_item title col-md-4"><strong>DE SERVIÇO</strong></li>
            <li class="value_item col-md-8" style="">Comando mecânico atuante nas rodas traseiras com compensação de desgaste</li>
            <li class="value_item title col-md-4"><strong>DIANTEIRO</strong></li>
            <li class="value_item col-md-8" style="">A disco sólido com pinça flutuante</li>
          </ul>
          <ul class="feature_value model2" style="display: block;">
            <li class="col-md-12 model-name"><strong>Way 1.4 2016</strong></li>
            <li class="value_item title col-md-4"><strong>NÚMERO DE CILINDROS</strong></li>
            <li class="value_item col-md-8" style="">4 em linha</li>
            <li class="value_item title col-md-4"><strong>POSIÇÃO DO MOTOR</strong></li>
            <li class="value_item col-md-8" style="">Transversal anterior</li>
            <li class="value_item title col-md-4"><strong>Nº DE VÁLVULAS POR CILINDRO</strong></li>
            <li class="value_item col-md-8" style="">2</li>
            <li class="value_item title col-md-4"><strong>CILINDRADA TOTAL (CC)</strong></li>
            <li class="value_item col-md-8" style="">1.368</li>
            <li class="value_item title col-md-4"><strong>POTÊNCIA MÁXIMA (CV)</strong></li>
            <li class="value_item col-md-8" style="">85,0 (G) / 88,0 (E) a 5.750 rpm</li>
            <li class="value_item title col-md-4"><strong>TORQUE MÁXIMO (KGF.M)</strong></li>
            <li class="value_item col-md-8" style="">12,4 (G) / 12,5 (E) a 3.500 rpm</li>
            <li class="value_item title col-md-4"><strong>COMBUSTÍVEL</strong></li>
            <li class="value_item col-md-8" style="">Gasolina / Etanol</li>
            <li class="value_item title col-md-4"><strong>DIÂMETRO MÍNIMO DE CURVA</strong></li>
            <li class="value_item col-md-8" style="">9,8</li>
            <li class="value_item title col-md-4"><strong>TIPO DE DIREÇÃO</strong></li>
            <li class="value_item col-md-8" style="">Hidráulica com pinhão e cremalheira</li>
            <li class="value_item title col-md-4"><strong>PNEUS</strong></li>
            <li class="value_item col-md-8" style="">175/70 R14</li>
            <li class="value_item title col-md-4"><strong>ARO</strong></li>
            <li class="value_item col-md-8" style="">5.5 x 14" de aço estampado</li>
            <li class="value_item title col-md-4"><strong>POSIÇÃO DO CÂMBIO</strong></li>
            <li class="value_item col-md-8" style="">Transversal</li>
            <li class="value_item title col-md-4"><strong>NÚMERO DE MARCHAS</strong></li>
            <li class="value_item col-md-8" style="">5 a frente e 1 à ré</li>
            <li class="value_item title col-md-4"><strong>TRAÇÃO</strong></li>
            <li class="value_item col-md-8" style="">Dianteira com juntas homocinéticas</li>
            <li class="value_item title col-md-4"><strong>TRASEIRO</strong></li>
            <li class="value_item col-md-8" style="">A tambor com sapata autocentrante e regulagem automática de jogo
            </li>
            <li class="value_item title col-md-4"><strong>DE SERVIÇO</strong></li>
            <li class="value_item col-md-8" style="">Comando mecânico atuante nas rodas traseiras com compensação de desgaste</li>
            <li class="value_item title col-md-4"><strong>DIANTEIRO</strong></li>
            <li class="value_item col-md-8" style="">A disco sólido com pinça flutuante</li>
          </ul>
          <ul class="feature_value model3" style="display: none;">
            <li class="col-md-12 model-name"><strong>Evolution 1.4 4p 2016</strong></li>
            <li class="value_item title col-md-4"><strong>NÚMERO DE CILINDROS</strong></li>
            <li class="value_item col-md-8" style="display:none;">4 em linha</li>
            <li class="value_item title col-md-4"><strong>POSIÇÃO DO MOTOR</strong></li>
            <li class="value_item col-md-8" style="display:none;">Transversal anterior</li>
            <li class="value_item title col-md-4"><strong>Nº DE VÁLVULAS POR CILINDRO</strong></li>
            <li class="value_item col-md-8" style="display:none;">2</li>
            <li class="value_item title col-md-4"><strong>CILINDRADA TOTAL (CC)</strong></li>
            <li class="value_item col-md-8" style="display:none;">1.368</li>
            <li class="value_item title col-md-4"><strong>POTÊNCIA MÁXIMA (CV)</strong></li>
            <li class="value_item col-md-8" style="display:none;">85,0 (G) / 88,0 (E) a 5.750 rpm</li>
            <li class="value_item title col-md-4"><strong>TORQUE MÁXIMO (KGF.M)</strong></li>
            <li class="value_item col-md-8" style="display:none;">12,4 (G) / 12,5 (E) a 3.500 rpm</li>
            <li class="value_item title col-md-4"><strong>COMBUSTÍVEL</strong></li>
            <li class="value_item col-md-8" style="display:none;">Gasolina / Etanol</li>
            <li class="value_item title col-md-4"><strong>DIÂMETRO MÍNIMO DE CURVA</strong></li>
            <li class="value_item col-md-8" style="display:none;">9,8</li>
            <li class="value_item title col-md-4"><strong>TIPO DE DIREÇÃO</strong></li>
            <li class="value_item col-md-8" style="display:none;">Hidráulica com pinhão e cremalheira</li>
            <li class="value_item title col-md-4"><strong>PNEUS</strong></li>
            <li class="value_item col-md-8" style="display:none;">175/65 R14 82T</li>
            <li class="value_item title col-md-4"><strong>ARO</strong></li>
            <li class="value_item col-md-8" style="display:none;">5.5 x 14" em chapa de aço</li>
            <li class="value_item title col-md-4"><strong>POSIÇÃO DO CÂMBIO</strong></li>
            <li class="value_item col-md-8" style="display:none;">Transversal</li>
            <li class="value_item title col-md-4"><strong>NÚMERO DE MARCHAS</strong></li>
            <li class="value_item col-md-8" style="display:none;">5 a frente e 1 à ré</li>
            <li class="value_item title col-md-4"><strong>TRAÇÃO</strong></li>
            <li class="value_item col-md-8" style="display:none;">Dianteira com juntas homocinéticas</li>
            <li class="value_item title col-md-4"><strong>TRASEIRO</strong></li>
            <li class="value_item col-md-8" style="display:none;">A tambor com sapata autocentrante e regulagem automática de jogo
            </li>
            <li class="value_item title col-md-4"><strong>DE SERVIÇO</strong></li>
            <li class="value_item col-md-8" style="display:none;">Comando mecânico atuante nas rodas traseiras com compensação de desgaste</li>
            <li class="value_item title col-md-4"><strong>DIANTEIRO</strong></li>
            <li class="value_item col-md-8" style="display:none;">A disco sólido com pinça flutuante</li>
          </ul>
          <ul class="feature_value model4">
            <li class="col-md-12 model-name"><strong>Sporting 1.4 4p 2016</strong></li>
            <li class="value_item title col-md-4"><strong>NÚMERO DE CILINDROS</strong></li>
            <li class="value_item col-md-8" style="display:none;">4 em linha</li>
            <li class="value_item title col-md-4"><strong>POSIÇÃO DO MOTOR</strong></li>
            <li class="value_item col-md-8" style="display:none;">Transversal anterior</li>
            <li class="value_item title col-md-4"><strong>Nº DE VÁLVULAS POR CILINDRO</strong></li>
            <li class="value_item col-md-8" style="display:none;">2</li>
            <li class="value_item title col-md-4"><strong>CILINDRADA TOTAL (CC)</strong></li>
            <li class="value_item col-md-8" style="display:none;">1.368</li>
            <li class="value_item title col-md-4"><strong>POTÊNCIA MÁXIMA (CV)</strong></li>
            <li class="value_item col-md-8" style="display:none;">85,0 (G) / 88,0 (E) a 5.750 rpm</li>
            <li class="value_item title col-md-4"><strong>TORQUE MÁXIMO (KGF.M)</strong></li>
            <li class="value_item col-md-8" style="display:none;">12,4 (G) / 12,5 (E) a 3.500 rpm</li>
            <li class="value_item title col-md-4"><strong>COMBUSTÍVEL</strong></li>
            <li class="value_item col-md-8" style="display:none;">Gasolina / Etanol</li>
            <li class="value_item title col-md-4"><strong>DIÂMETRO MÍNIMO DE CURVA</strong></li>
            <li class="value_item col-md-8" style="display:none;">9,8</li>
            <li class="value_item title col-md-4"><strong>TIPO DE DIREÇÃO</strong></li>
            <li class="value_item col-md-8" style="display:none;">Hidráulica com pinhão e cremalheira</li>
            <li class="value_item title col-md-4"><strong>PNEUS</strong></li>
            <li class="value_item col-md-8" style="display:none;">185/60 R115</li>
            <li class="value_item title col-md-4"><strong>ARO</strong></li>
            <li class="value_item col-md-8" style="display:none;">6.0 x 15" de liga leve</li>
            <li class="value_item title col-md-4"><strong>POSIÇÃO DO CÂMBIO</strong></li>
            <li class="value_item col-md-8" style="display:none;">Transversal</li>
            <li class="value_item title col-md-4"><strong>NÚMERO DE MARCHAS</strong></li>
            <li class="value_item col-md-8" style="display:none;">5 a frente e 1 à ré</li>
            <li class="value_item title col-md-4"><strong>TRAÇÃO</strong></li>
            <li class="value_item col-md-8" style="display:none;">Dianteira com juntas homocinéticas</li>
            <li class="value_item title col-md-4"><strong>TRASEIRO</strong></li>
            <li class="value_item col-md-8" style="display:none;">A tambor com sapata autocentrante e regulagem automática de jogo
            </li>
            <li class="value_item title col-md-4"><strong>DE SERVIÇO</strong></li>
            <li class="value_item col-md-8" style="display:none;">Comando mecânico atuante nas rodas traseiras com compensação de desgaste</li>
            <li class="value_item title col-md-4"><strong>DIANTEIRO</strong></li>
            <li class="value_item col-md-8" style="display:none;">A disco sólido com pinça flutuante</li>
          </ul>
        </dd>
      </dl>

    </div>
