@import "lib/bootstrap-sass/bootstrap/variables";
@media(min-width: $screen-md-min){
    .form-control{
      width: 47%;
      float: left;
      &:nth-child(odd){
        margin-right: 6%;
      }
    }
    textarea.form-control{
      width: 100%;
    }
  }
